[2020-05-11 15:52] adrian-ub opened #21 "docusaurus.config.js not found"
run the following command `nx serve docs`

[code]

[code]

[2020-05-11 17:52] ZachJW34 commented on #21
I can't reproduce this error inside a fresh nx workspace (with and without `ng`). Can you provide more details such as your dependency versions and any other changes you made to what the schematic generated for you?

[2020-05-12 11:43] amitnn commented on #21
Thank you for creating this plugin. I am able to recreate this problem. steps to reproduce.

1. npx create-nx-workspace --> empty with nx cli
2. npm install --save-dev @nx-plus/docusaurus
3. npx nx g @nx-plus/docusaurus:app my-docs-app
4. npx nx run my-docs-app:build-docusaurus

Starting the development server...
docusaurus.config.js not found

I use the Nx console with the same results.

"depende

[2020-05-13 04:06] #21 closed

[2020-05-13 23:18] ZachJW34 commented on #21
Release [v0.0.4](https://github.com/ZachJW34/nx-plus/releases/tag/v0.0.4) includes the fix for this issue. Check it out!

[2020-07-10 22:47] jonhermansen opened #43 "Add support for Nx 10"
I ran into some problems adding/running a vue app in my monorepo that was generated with create-nx-workspace@10.0.0-beta.0

Steps to reproduce:
[code]

I do not have the error message on hand but can add this info later. There is an issue with CopyWebpackPlugin config transformation that is happening here: https://github.com/ZachJW34/nx-plus/blob/master/libs/vue/src/webpack.ts#L103

[2020-07-11 02:39] ZachJW34 commented on #43
@jonhermansen Thanks for checking out the package! I've opened a [PR](https://github.com/ZachJW34/nx-plus/pull/44) that should resolve this issue.

[2020-07-11 03:50] jonhermansen commented on #43
Hey Zachary, thank you for the excellent work on the project!

I tried building your PR branch locally and installed into my monorepo, here is the error I get:

[code]

I think this issue has to do with tsconfig.json in the root of nx workspace being renamed to tsconfig.base.json. If I fix this reference by hand in the generated vue app, it launches just fine!

By the way, I got vue to work on my

[2020-07-11 03:54] jonhermansen commented on #43
About the removal of tsconfig.json, switch to tsconfig.base.json in nx 10: https://github.com/nrwl/nx/issues/3251#issuecomment-655561822

[2020-07-13 10:25] evanfuture opened #48 "extractCss still needed"
Hi. After a bit of digging, I saw that you at one point added `extractCss` to the build options, but then removed it again.  The default seems to be to `not` extract it for development, and to extract it for prod, but we need it `not` extracted for both...

Any pointers in the right direction would be much appreciated.

[2020-07-13 10:35] evanfuture commented on #48
Well, shortly after asking this, I found a way to make it work. (Thanks, Vue docs!).  As mentioned [here](https://cli.vuejs.org/config/#vue-config-js), you don't have to use a vue.config file (which didn't seem to do anything when I tried it), you can also add a `"vue": {}` section to the package.json

So, I used:
[code]

[2020-07-13 10:36] #48 closed

[2020-07-14 06:02] myin142 opened #50 "Public Path option"
Would it be possible to add the public path option from vue directly to this plugin? I do not think there is another way to set this. When using the `vue.config.js` it will disable all the other options set in `workspace.json`.

[2020-07-14 06:46] BuckyMaler commented on #50
Absolutely! I'd ask if you're interested in working on this, but I'm actually already working on it. My work will make a number of `vue.config.js` options available in `workspace.json`. I think it'll be included in our next release, which will probably be this coming weekend.

[2020-07-15 11:55] alvarosaburido opened #53 "Lib dependency not found"
Hello, first of all awesome work with this package. 🎉

I'm having an issue importing a library that I have under libs, that works perfectly fine in other Angular clients inside `apps`  but Fails in a  Vue client.

[code]

I have it configure the path inside of the `tsconfig.json`

[code]

It works if I use a relative path, but in this case inside of `libs/api-services/src/index.ts`  I have also im

[2020-07-15 19:51] ZachJW34 commented on #53
Thanks @alvarosaburido!! Glad you're liking it.
Can you provide the steps to reproduce this error and the versions of the dependencies used? A minimal Github repo would be a great help as well!

[2020-07-16 08:00] alvarosaburido commented on #53
Sure thing.

## Steps
- Clone [Repo](https://github.com/alvarosaburido/nx-plus-monorepo) `git-clone git@github.com:alvarosaburido/nx-plus-monorepo.git`
- Run `nx serve vue-lab`

## Expected result

`import awesome from '@my-awesome-monorepo/api'` inside `apps/vue-lab/src/App.vue` should work.

## Actual result

[code]

[2020-07-16 23:33] #50 closed

[2020-07-16 23:47] ZachJW34 commented on #53
Thanks for providing the repo. The issue you are seeing is due to having a `vue.config.js` inside your application which overrides the changes we make in our vue builders. If you remove the `vue.config.js`, the paths are successfully resolved.
We added support for `extractCss` and a few more common options in #52 which we will have another release for soon.

[2020-07-16 23:47] #53 closed

[2020-07-17 07:02] alvarosaburido commented on #53
Hi @ZachJW34 thanks for the response, the thing is, `vue.config.js` is often needed to add loaders or extend webpack functionality.  In the specific case of a project I'm working on, it needs to extend assets loader between others so I cannot get rid of it. Is there a way to make them coexist?

[2020-07-17 18:17] BuckyMaler opened #57 "Add Vue library support"
## Description

I'd like to be able to generate a Vue library with various options (e.g. testing configured), and be able to build and publish the library.

## Motivation

Being able to generate Vue libraries will speed up development for all users, and being able to publish libraries is important for code reuse and OSS projects.

## Suggested Implementation

Add a schematic for generating a Vue l

[2020-07-18 02:35] ZachJW34 commented on #53
We plan on adding all configuration options to make our plugin equivalent (or as close) to what vue-cli provides, but for now we don't support the custom `vue.config.js`. The changes we make to the config passed to the Vue CLI are necessary to get Vue working inside an Nx workspace (check them out [here](https://github.com/ZachJW34/nx-plus/blob/0c44221ae6ac4a2d72acd4b22752a57ff74da87c/libs/vue/src

[2020-07-18 19:36] BuckyMaler opened #59 "Support Vue CLI's Modern Mode"
## Description

Support Vue CLI's [Modern Mode](https://cli.vuejs.org/guide/browser-compatibility.html#modern-mode) so that production builds will produce two versions of an app: one modern bundle targeting modern browsers that support ES modules, and one legacy bundle targeting older browsers that do not.

## Motivation

Many modern browsers don't require the transpilation and polyfills that olde

[2020-07-18 19:46] BuckyMaler opened #60 "Separate Jest configuration from Vue app schematic"
## Description

I would like to be able to generate `jest` configuration for an existing app.

## Suggested Implementation

Add a separate schematic for configuring `jest`.

[2020-07-18 19:48] BuckyMaler opened #61 "Separate e2e app generation from Vue app schematic"
## Description

I would like to be able to generate an e2e app for an existing app.

## Suggested Implementation

Add a separate schematic for generating an e2e app.

[2020-07-18 20:03] BuckyMaler opened #62 "Add option to modify Vue CLI's webpack configuration"
## Description

I'd like to be able to modify Vue CLI's webpack configuration.

## Motivation

Vue CLI's webpack configuration meets the initial requirements of most projects, but as a project grows and becomes more complex it's likely that small changes will need to be made to the webpack configuration.

## Suggested Implementation

There are a number of ways this can be done, but what's most imp

[2020-07-18 20:17] BuckyMaler opened #63 "Add the option to generate a Vue project that use JavaScript instead of TypeScript"
## Description

I'd like to be able to generate a Vue project that uses JavaScript instead of TypeScript.

## Motivation

This option would ease the migration process for projects written in JavaScript to a Nx workspace. Also, not all users are familiar with TypeScript.

## Suggested Implementation

I imagine this can be done similarly to how Nx handles JavaScript support with [React](https://gith

[2020-07-19 04:56] BuckyMaler opened #65 "Support Docusaurus deployments"
## Description

Support the Docusaurus deployment options listed [here](https://v2.docusaurus.io/docs/deployment).

## Suggested Implementation

Add a builder for deploying a Docusaurus website.

[2020-07-21 04:50] BuckyMaler opened #69 "Add support for Vue 3"
https://github.com/vuejs/rfcs/issues/183

[2020-07-30 16:34] shmarts commented on #63
any progress on this? got excited about this plugin but realised this will be limiting us from using it ):

[2020-08-01 02:37] BuckyMaler commented on #63
No work has been done on this yet. We have 3 or 4 issues prioritized ahead of this, but we'll get to it as soon as we can.

[2020-08-04 14:01] JordyLangen commented on #62
What would be the preferred way to implement this? I'm using this project in a proof of concept at work, and would need this feature. I'd be willing to contribute.

[2020-08-05 03:09] #57 closed

[2020-08-06 18:09] BuckyMaler commented on #62
@ZachJW34 and I are having offline discussions about this. We consider this a high priority issue, so I'll provide more details soon.

[2020-08-09 05:49] BuckyMaler commented on #62
@JordyLangen we've decided this issue should be handled by adding support for [`configureWebpack`](https://cli.vuejs.org/config/#configurewebpack). Down the road we'd also like to add support for `chainWebpack` and `vue.config.js`, but we think supporting `configureWebpack` is best for now because it can be delivered the fastest.

It'd be great if you could open a PR for this. Sorry we don't have

[2020-08-09 17:48] DavainWhite commented on #62
could you guys add a static folder in the next release It's hard to get anything running if I cant even add a favicon or manifest to the site.

[2020-08-09 18:15] ZachJW34 commented on #62
@DavainWhite The [public folder](https://cli.vuejs.org/guide/html-and-static-assets.html#the-public-folder) is the Vue CLI equivalent of a static folder, as any files located within are copied (such as a favicon). Is this what you are looking for?

[2020-08-09 18:32] DavainWhite opened #82 "Files & Subfolders in the Public folder are noting being served"
## Current Behavior

I am unable to see files in the public folder when the app is being served or built

## Expected Behavior

I should be able to see the files

## Steps to Reproduce

steps
1). create nx-plus vue app named frontend
2). try to add any files or subfolders to the public folder
3). serve the app and see that they do not appear
3). build the app and see that they do not appear

angul

[2020-08-09 20:32] BuckyMaler commented on #82
This is working as expected for me. As you can see in the screenshot below I moved `logo.png` from `assets/` to `public/img/` and it loads. You can also see the favicon loaded in the browser tab. Make sure you're referencing images inside of `public/` with absolute paths. Also, if you're using `--publicPath`, then you need to prepend your image paths with that. This is all explained [here](https:/

[2020-08-09 20:48] DavainWhite commented on #82
@BuckyMaler
I am trying to reference static files inside the index.html file in the public folder.
like the favicon images and the site manifest (which arent being served for me).

here are some images showing the folder structure of my project as well as it being served. In the second imag you can see tht I am unable to directly access this image
![image](https://user-images.githubusercontent.com

[2020-08-09 21:37] BuckyMaler commented on #82
It seems to be working for me.

`favicon-32x32.png` loads:

![Screen Shot 2020-08-09 at 4 21 41 PM](https://user-images.githubusercontent.com/14145352/89742185-66d0e000-da5d-11ea-9cdd-b2bb0f739981.png)

`android-icon-192x192.png` loads:

![Screen Shot 2020-08-09 at 4 22 19 PM](https://user-images.githubusercontent.com/14145352/89742204-85cf7200-da5d-11ea-9219-ff6f7d853962.png)

All images are copi

[2020-08-09 21:45] DavainWhite commented on #82
@BuckyMaler I've attached the frontend app ant it's e2e folder.
[xxx.zip](https://github.com/ZachJW34/nx-plus/files/5048477/xxx.zip)

[2020-08-11 02:17] DavainWhite commented on #82
@BuckyMaler It seems as thought the problem might have been with nx workspace v10

I recreated the repo with the `npx create-nx-workspace@^9.0.0` and it suddenly started to work correctly.

[2020-08-11 02:17] #82 closed

[2020-08-11 15:26] JordyLangen commented on #62
@BuckyMaler thanks for pushing me into the right direction. I have something working now, going clean that up and refactor it. Should be able to open a PR soon.

[2020-08-11 19:44] JordyLangen commented on #62
@BuckyMaler I'm wondering if you could help me out. I have this implementation right here: https://github.com/JordyLangen/nx-plus/tree/feature/62-add-vue-configure-webpack-support

The impl. right now requires you to put place a `vue-nx.config.js` in the root of the project directory.
This works and the builder resolves this file, and adds the `configureWebpack` to the `inlineOptions`.

I added a

[2020-08-12 01:23] DavainWhite opened #84 "The browser & dev-server builders are not calling modifyCopyAssets"
Just spent an hour or 6 looking trough the plugin and found that the `modifyCopyAssets` function was not being called in the webpack for the browser & dev-server builders causing the assets in the public directory to not be added to the dist folder on serve / build.

you ca see in these images that the favicon.ico &  the site manifest were copped over on build (because I added the custom `modifyCo

[2020-08-12 06:21] BuckyMaler commented on #62
@JordyLangen it's seems to be working. I tested renaming `app.js` to `main.js`. By default `app.js` is output for a development build, but as you can see in the image `main.js` was output. The only change I made on your branch was adding the default value (i.e. `vue-nx.config.js`) to the browser schema. Then I generated an app named `my-app` and added a `vue-nx.config.js` file at the root of the p

[2020-08-14 03:08] DavainWhite commented on #84
@BuckyMaler were there any errors in what I found in the post above ?

[2020-08-15 20:47] ZachJW34 commented on #84
@DavainWhite Do you develop on a Windows machine? I just submitted a PR that fixes assets not being copied on Windows machines. #88

[2020-08-15 20:51] DavainWhite commented on #84
@ZachJW34 yes, windows 10

[2020-08-15 21:01] ZachJW34 commented on #84
@DavainWhite I believe this should fix your issue then. Try checking out the branch and adding some assets. If you cloned the repo, you can check out the branch by running `git fetch origin pull/88/head:fix-vue-windows-assets && git checkout fix-vue-windows-assets`

[2020-08-15 21:21] DavainWhite commented on #84
@ZachJW34 removed all tests but the build and build subdir for time's sake
![image](https://user-images.githubusercontent.com/40371122/90321783-e574c400-df1a-11ea-8e0b-17f9f8140584.png)
[vue.test.zip](https://github.com/ZachJW34/nx-plus/files/5079509/vue.test.zip)

Added custom template files site.manifest and it worked
![image](https://user-images.githubusercontent.com/40371122/90321846-a6933e00-

[2020-08-15 21:22] DavainWhite commented on #84
@ZachJW34 looks good on windows, is there a scheduled date for the next npm release ?

[2020-08-16 03:17] DavainWhite opened #89 "Add assets option to browser builder in assets.json"
## Description

It would be great if we could included assets from a shared asset library by just adding a assets option to the browser builder.
![image](https://user-images.githubusercontent.com/40371122/90325698-de66a980-df4c-11ea-9afb-b7a6e5b8a478.png)

## Motivation

Helps reduce duplicate assets and massively reduces monoprepo sizes.

## Suggested Implementation

have webpack look at the path

[2020-08-17 01:57] #84 closed

[2020-08-18 00:04] emjimadhu opened #90 "How to add webpack.config.js for Vue plugin?"
## Description
I am trying to integrate `Vuetify` in my vue app. So i have to follow the webpack integration to make it work from the documention.

https://vuetifyjs.com/en/getting-started/quick-start/#webpack-install

i want to put some default webpack config in wwebpack.config.js file. So how can i add it?

[2020-08-18 01:57] ZachJW34 commented on #90
I was able to integrate vuetify without having to manipulate the webpack config. Check out this repo [demoing vuetify](https://github.com/ZachJW34/nx-plus-vuetify). I followed the documentation for installing vuetify in a vue-cli powered project and copied the changes over.

[2020-08-18 06:14] emjimadhu commented on #90
Thank you so much it worked perfectly. I just have few things i observed.

1. For some reasons, my onsave lint in vscode is not working at all. It is working for other apps. But not for vue.
2. The test files does not detect jest env in vscode but it is working on other apps too.
3. It seems like the `environment.ts` is not avaiable. When i try to create one manually and add "fileReplacements" key

[2020-08-19 01:52] ZachJW34 commented on #90
Glad I could help!
1. I'm not too familiar with eslint onsave, but I downloaded the eslint extension, added `"editor.codeActionsOnSave": { "source.fixAll.eslint": true }` and it was working correctly. This was done with a fresh nx workspace mind you.
2. Could you create an issue regarding this with some more details? I can take a look but I'd need some more information.
3. We considered supporting

[2020-08-19 01:52] #90 closed

[2020-08-21 03:57] BuckyMaler opened #91 "Vue files aren't being linted"
## Current Behavior

Vue files aren't being linted.

## Expected Behavior

Vue files are linted.

## Steps to Reproduce

1. `yarn create-playground`
2. `nx g @nx-plus/vue:app my-app`
3. Add a lint error to a `.vue` file
4. `nx lint my-app`

### Environment

Plugin name and version: `@nx-plus/vue@0.5.0`

[code]

In the image below there's a debugger statement in `main.ts` and `App.vue`, but the lin

[2020-08-25 05:00] BuckyMaler commented on #91
@rarmatei I see you did quite a bit of work on `@nrwl/linter`. I don't think this issue belongs in Nx because it doesn't support Vue internally, but I was hoping you could provide some direction.

[2020-09-02 18:10] rarmatei commented on #91
@BuckyMaler sorry for the late response - I'm wondering if it's missing a plugin?

if you create an Nx workspace with a React app, you'll notice `"plugins": ["@typescript-eslint", "@nrwl/nx"],` in the root `.eslintrc` - which allows it to lint `.ts` files.

I've not worked with Vue before, but could it be that you need something like https://eslint.vuejs.org/ in there?

[2020-09-03 14:00] rarmatei commented on #91
Can you try adding this to your local `.eslintrc.js` file:

[code]

We use the `project` option to give "type information context" to the `@typescript-eslint/parser` - but for some reason that is not working with the `vue-eslint-parser` parser. They do tell you in their docs that you can use a custom parser, but it might be a question for them as to why you can't pass in the `project` option as we

[2020-09-04 08:29] alvarosaburido opened #97 "ForkTsCheckerWebpackPlugin configuration has an unknown property 'tsconfig'."
## Current Behavior
[code]

## Expected Behavior
Vue app is served normally

## Steps to Reproduce
Update deps in vue app to. (To use latest [vue-devtools](https://github.com/vuejs/vue-devtools))
[code]

[2020-09-05 00:33] BuckyMaler commented on #91
@rarmatei thanks for responding. Unfortunately, adding that snippet to the local `.eslintrc.js` didn't work.

I think the linter builder is excluding `.vue` files. As you can see in the screenshot below I logged the files to lint and no `.vue` files were logged.

<img width="1680" alt="Screen Shot 2020-09-04 at 7 08 46 PM" src="https://user-images.githubusercontent.com/14145352/92292595-9f8c9980-e

[2020-09-05 07:35] rarmatei commented on #91
Oh, I was using Nx 10 when trying the example above!

Can you show me what options you're sending to the linter, please? Or if you have an example repo that would help too, please.

There's been a recent change to what pattern we use for the "exclude" array.

[2020-09-06 01:09] BuckyMaler commented on #91
I've narrowed in on the issue. [`parseJsonConfigFileContent`](https://github.com/nrwl/nx/blob/3461a86c6df9c2320f827fc70f2af383f9bae033/packages/linter/src/builders/lint/utility/ts-utils.ts#L60) excludes `.vue` files by default. However, it accepts an `extraFileExtensions` argument. Replacing that line with following gets us half way there:

[code]

[`createProgram`](https://github.com/nrwl/nx/blob

[2020-09-06 14:43] rarmatei commented on #91
Interesting, thank you for that analysis!! I was using the Webstorm/VsCode linting warnings when I made those comments above, and forgot to actually try out invoking the Nx linter above 🤦

If you explicitly set the files you want linted in the builder, it should start picking them up:

[code]

I tried using a few rules which require type information and it continues to work fine and pick them up.

[2020-09-06 20:43] BuckyMaler commented on #91
It seems we have a couple of options to think through. @rarmatei thanks for your help on this! 😄

[2020-09-06 20:58] rarmatei commented on #91
Cool!! Excited to see this plugin grow! Let me know if you need any more help! 👍

[2020-09-07 03:19] #43 closed

[2020-09-09 13:57] alvarosaburido commented on #97
Hi!, so we manage to make Vue 3 work inside of the monorepo, but latest `"@vue/cli-plugin-typescript": "~4.5.4" have a breaking change https://github.com/vuejs/vue-cli/commit/1aaa59264235b83cb1e2700ab2cf3aa04b40c907#diff-5bd90b2d73b2975144503cb89f9bc5ba  for the `fork-ts-checker-webpack-plugin-v5`

[2020-09-11 23:17] Reidond opened #100 "publicPath set but does not do anything"
## Current Behavior
publicPath set but does not do anything

## Expected Behavior
publicPath option to do something

## Steps to Reproduce
1. Set public path
[code]
2. Run with desired mode
3. index.html in dist do not have public path set

https://github.com/testing-student-app/stract2

### Failure Logs

### Environment

Plugin name and version: @nx-plus/vue@^10.0.0

  nx : Not Found
  @nrwl/angu

[2020-09-12 05:09] BuckyMaler commented on #97
If you cannot reproduce this using Vue 2, then I'm going to close this issue. I described a workaround for this [here](https://github.com/ZachJW34/nx-plus/pull/99#issuecomment-691411542).

[2020-09-15 03:50] #97 closed

[2020-09-17 08:01] emjimadhu opened #104 "How to add transpileDependencies in vue?"
First of all i am really sorry for opening a new issue that is related to webpack config. This is related to vuetify.

## Description
A month pack i raised an issue about how to implement vuetify. You shared me a repo. That worked fine. Now i wanted to recreate it in a new project.

I created a new vue-cli project with vuetify. And i copy pasted all the files that vue-cli-plugin generated. One of

[2020-09-18 02:29] ZachJW34 commented on #104
No worries @emjimadhu! Do you need to add vuetify to `transpileDependencies` because you are having issues with IE11? If you don't need to support IE11 then I don't believe that option is necessary. The `transpileDependencies` option requires `babel` integration which we don't currently have (but is actively being worked on in #102).

[2020-09-21 20:10] creadicted opened #105 "docusaurus - Generator is not using the workspaceLayout / appsDir for the generation"
## Current Behavior
If I generate the app it will be generated in "apps/<name>/*" Even when the appsDir in the nx.json is set to a different folder.

## Expected Behavior

That the generator uses the file path set in the nx.json file

[code]

[2020-09-22 01:04] ZachJW34 commented on #100
The `publicPath` option works fine on my end. Here is an image of the generated `index.html` of an app built with no publicPath and publicPath=/my-app/.
![Screen Shot 2020-09-21 at 7 52 43 PM](https://user-images.githubusercontent.com/25158820/93835239-38d9e080-fc44-11ea-93db-99df2b378b22.png)
You are using a relative path so you can expect that the assets will not have a leading forward slash, bu

[2020-09-22 01:04] #100 closed

[2020-09-23 00:35] dbrrt opened #106 "Docusaurus build crashes during minification"
## Current Behavior
Build process crashes at the end

## Expected Behavior
Build process to pass

## Steps to Reproduce

- Create nx workspace
- create a docusaurus app
- Build the docusaurus app

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[code]

### Environment
Plugin name and version:  @nx-plus/docusaurus#8b21c9f

[code]

[2020-09-23 20:36] BuckyMaler commented on #106
I can reproduce the error when `@nrwl/web` is installed. I can also reproduce the error when `@nrwl/react` or `@nrwl/next` are installed, but that's because `@nrwl/web` is a dependency of those. I think the issue may be due to a shared build dependency and Docusaurus resolving the wrong version of that dependency. @dbrrt would you like to look into this?

[2020-09-23 20:56] dbrrt commented on #106
@BuckyMaler Sure. I don't get how docusaurus is resolving the wrong `@nrwl/web` dependency, since it  has nothing to do with docusarus itself. My understanding is that the building process (server) isn't looking at the right place for minifying the app, causing this issue.

[2020-09-29 04:48] BuckyMaler commented on #105
@creadicted thanks for creating this issue. We've been aware of this, but haven't been able to get around to it. This would be a great contribution. Would you like to work on this?

[2020-09-30 04:44] BuckyMaler commented on #106
@dbrrt I wanted to notify you that we've added [contributing docs](https://github.com/ZachJW34/nx-plus/blob/master/CONTRIBUTING.md) so that may be helpful as you work on this. Let me know if there's anything I can do to help.

[2020-10-01 15:46] akolybelnikov opened #108 "@nx-plus/vue:app - Cannot read property 'toString' of null"
## Current Behavior
The command `nx g @nx-plus/vue:app app_name` throws a console error: `Cannot read property 'toString' of null`, and no app is generated.

## Expected Behavior
The command should generate a Vue app in a freshly initialized NX workspace.

## Steps to Reproduce
`git clone https://github.com/akolybelnikov/go-vault-vue.git`, after that install dependencies with `yarn`, and try runni

[2020-10-01 17:28] taylorreece commented on #106
It seems like an issue with some version of webpack not playing right with Docusaurus. I've created an issue here: https://github.com/facebook/docusaurus/issues/3515

[2020-10-01 18:06] dbrrt commented on #106
Thank you @BuckyMaler @taylorreece. I've started isolating the code and looking into it. I suspect a library coming through webpack responsible for uglyfication

[2020-10-02 15:27] taylorreece commented on #106
Hey guys - I have a temporary fix for this. If you `nohoist` the documentation project so its dependencies are separate from your other dependencies, then it finds the correct versions of its dependencies in its `node_modules` directory and doesn't become a promiscuous little turd, looking in other projects' `node_modules` directories for modules: https://github.com/facebook/docusaurus/issues/3515

[2020-10-02 21:02] dbrrt commented on #106
@taylorreece Will try it, that's really good to know

[2020-10-03 10:22] akolybelnikov commented on #108
Update: the above described behavior is exhibited when I try to add the @nx-plus/vue:app in a workspace with an existing api project. If I start a new workspace from scratch with no preset chosen during the initialization, the plugin works correctly.

[2020-10-03 20:56] BuckyMaler commented on #106
@taylorreece thanks for the additional details, but `nohoist` won't work with Nx because it doesn't use yarn workspaces.

@dbrrt the issue is that Docusaurus resolves a different version of `terser-webpack-plugin` when `@nrwl/web` is installed. There are a couple of workarounds that may work for you as we sort out this issue. The first workaround is to install the version of `terser-webpack-plugin

[2020-10-04 15:30] dbrrt commented on #106
@BuckyMaler I can confirm you that with `terser-webpack-plugin` installed manually, the build is completed with no issue.

[2020-10-04 17:20] ZachJW34 commented on #91
[10.3.0](https://github.com/nrwl/nx/commit/31304d4d01bb6f0e5a04082ec72e64c78a0e6756) has been released with a [new eslint builder](https://github.com/nrwl/nx/commit/e22f9370f57fc524851b22de55650f1d6e280599). We might be able to take advantage of this!

[2020-10-04 17:33] ZachJW34 opened #109 "App schematic fails with Nx v10.3.0"
## Current Behavior
App schematic fails with Nx v10.3.0

## Expected Behavior
App schematic should work as expected.
## Steps to Reproduce
[code]

### Failure Logs
<img width="563" alt="Screen Shot 2020-10-04 at 12 22 46 PM" src="https://user-images.githubusercontent.com/25158820/95022457-14ff9d00-063d-11eb-9dd2-1e6ee4adcf10.png">

### Environment
os: macOS 10.15.7 (19H2)
plugin: "@nx-plus/vue": "

[2020-10-04 18:00] ZachJW34 commented on #108
@akolybelnikov Can you provide more info on what you mean by an existing api project? Is there an existing nrwl plugin that causes the `@nx-plus/vue` plugin to fail when installed together? A Github repo would be helpful.

[2020-10-04 19:37] BuckyMaler commented on #106
I'm going to leave this issue open for now. Though I think the fix will be a PR in Nx and/or Docusaurus. [Here](https://github.com/ZachJW34/nx-plus/issues/106#issuecomment-703163714) are a couple of workarounds in the meantime.

[2020-10-04 19:46] BuckyMaler commented on #91
I'll look into this soon. 🤞

[2020-10-04 20:39] BuckyMaler commented on #91
Updating to Nx v10.3.0 fixes this issue. I'll get to work on the update.

[2020-10-05 07:35] akolybelnikov commented on #108
@ZachJW34 yes, first I installed `https://github.com/nx-go/nx-go`. The link to the repo is above in the steps to reproduce.

[2020-10-06 19:57] BuckyMaler commented on #109
This issue will be fixed as a part of the Nx update being done for #91. It's in progress.

[2020-10-12 11:42] jugglingcats opened #112 "Cannot import component from React lib into Markdown"
## Current Behavior
Apologies if this has been covered somewhere but I couldn't find it. I'm expecting to be able to import the components to document into Markdown in order to show their behaviour. The components will be in various libs within the NX project developed in Typescript.

I added the following to my markdown:
[code]

Error on render:
[code]

## Expected Behavior
Component imported and

[2020-10-13 00:36] ZachJW34 commented on #112
I tried importing a React javascript component with a relative path and it rendered correctly. I don't think Docusaurus supports rendering typescript React components in `mdx` though, and resolving the aliases might be doable via the `babel.config.js` with something like `babel-plugin-module-resolver` or a [custom plugin](https://v2.docusaurus.io/docs/2.0.0-alpha.65/using-plugins#creating-plugins)

[2020-10-13 07:52] jugglingcats commented on #112
Thanks @ZachJW34 for your response - good information. I will look into the options you suggest and report back.

We looked quite a bit at Storybook. The feeling is that Storybook is more geared to internal documentation while we prefer Docusaurus for customer-facing docs. So we are trying to get the best of both worlds - good developer experience for components _and when writing documentation_, p

[2020-10-13 20:39] jugglingcats commented on #112
@ZachJW34 your suggestion to use `babel-plugin-module-loader` was a good one. Although I couldn't manage to get my components imported directly in the MDX, using the babel plugin made the library components visible to my swizzled CodeBlock theme, which is actually where I was trying to get to all along! I suspect the library components would work when using the new ReactLiveScope in docusaurus, bu

[2020-10-14 01:10] ZachJW34 commented on #112
Glad it worked out!

[2020-10-14 12:55] #91 closed

[2020-10-14 12:55] #109 closed

[2020-10-15 10:14] fragx1011 opened #113 "Post install script"
## Current Behavior
when creating a new app using vue template, the package are installed, but the cli is blocked in `Installing pakage`
i checked and found that the post install script block the installation, and when lunched manually i got this error

https://ibb.co/vBtrgZr

## Expected Behavior
install nxplus/vue and run a vue app

## Steps to Reproduce
create a new app

### Failure Logs

### E

[2020-10-15 10:17] fragx1011 commented on #113
UPDATE:

could make it work using
`npm run postinstall`

but when using
`nx g @nxplus/vue:app appName`

its block when needing to run the postinstall script

[2020-10-15 12:08] #113 closed

[2020-10-22 02:47] #105 closed

[2020-10-25 11:52] DavidDomkar commented on #108
Hello. I just created a new nx workspace and wanted to add nuxt app to it and I am facing the same error.

[2020-10-26 00:28] #69 closed

[2020-10-28 10:29] bedoro commented on #106
Hello!

I am running into the same problem but with a different setup. The workarounds above do not work for me.

[code]

`@nrwl/web`, `@nrwl/react` or `@nrwl/next` are not installed as it is an Angular Wordkapce. Output of `nx report complete`
[code]

I am using npm, no Yarn or Yarn workspaces.
Running `npm i -D add terser-webpack-plugin@^4.1.0` doesn't change the behavior for me.

I am out of id

[2020-10-28 11:09] dbrrt commented on #106
@bedoro minify flag doesn't seem to be applied with this plugin.
I'm using `"terser-webpack-plugin": "4.2.2"` to get this workaround applied.

[2020-10-30 01:47] ZachJW34 commented on #108
Found the issue. It comes from providing the schematic a name with an underscore (in your example you provided `app_name`). Names are normalized in our schematic, so `app_name` would become `app-name`. This causes a problem when we invoke nx's cypress schematic which does not normalize the name. When we go to modify some of the files that the cypress schematic generated, we try to read files that

[2020-10-31 22:51] #108 closed

[2020-11-01 09:16] BuckyMaler opened #118 "Support generating a static website using Nuxt"
## Suggested Implementation

Add a builder for generating a static website and support the options documented [here](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-generate).

[2020-11-02 17:53] ImCesar commented on #106
I'm having trouble trying to get this workaround to work. I ran the `npm i -D add terser-webpack-plugin@^4.1.0` and that didn't work. I specifically installed `4.2.2` but that again did not work. I am not sure where to put minify flag. The only place I could see is the options under the build architecture, but again that doesn't seem to be doing anything.

[2020-11-03 08:29] bedoro commented on #106
@ImCesar Same here. Tried all the suggestions but the error still persists.

Really frustrating to not be able to do a production build :(

[2020-11-03 12:40] dbrrt commented on #106
@bedoro Do you have a project you can share so that I can try on my side? I'm able to deploy docusaurus app with nx, thanks to this plugin and the `terser-webpack-plugin@4.2.2` workaround.

[2020-11-03 16:56] ImCesar commented on #106
I was able to replicate the bug here in this repo

https://github.com/ImCesar/nx-docusaurus-bug

With docusaurus alone it would build and server fine. I slowly started to add the things that would be in my library, the first one being a buildable and publishable library. That was still fine. Then I added storybook to that library and that's when docusaurus would fail to build.

[2020-11-03 17:21] taylorreece commented on #106
Hey @ImCesar ,

I didn't do a full PR, but for your https://github.com/ImCesar/nx-docusaurus-bug if you apply [this patch](https://pastebin.com/EcQEcnrX), you can then `yarn` and `yarn build docs` successfully. This pins `terser-webpack-plugin` to 4.2.2.

Sidenote: not sure why you have a `yarn.lock` and `package-lock.json` in that repo.

[2020-11-03 17:22] taylorreece commented on #106
Maybe we need to change https://github.com/facebook/docusaurus/blob/69bf68ae575679ff06703cea02a89e3014d39359/packages/docusaurus/package.json#L102 to `"terser-webpack-plugin": "4.2.2",` or something?

[2020-11-03 17:41] ImCesar commented on #106
Thanks for the help @taylorreece I have both because I rushed to put the example together. When you generate NX it will create the yarn.lock but we use npm so that generated the package-lock.json. I forgot to clean up the yarn.lock.

I got rid of my yarn.lock and installed `terser-webpack-plugin@4.2.2` specifically and that fixed it in the bug repo, but that fix doesn't work for my actual nx repo.

[2020-11-05 22:33] ImCesar commented on #106
In my actual NX repo I deleted my package-lock, deleted my node_modules, and cleared my cache. Then once I reinstalled it was able to build correctly. I didn't have to explicitly install `terser-webpack-plugin`. I hope that helps someone out.

[2020-11-06 00:42] dbrrt commented on #106
@ImCesar Is there still `terser-webpack-plugin@4.2.2` in your `package.json`?

[2020-11-06 00:59] ImCesar commented on #106
My bad I did misspoke in my message. I double checked and I still have the `terser-webpack-plugin@4.2.2` in my package.json

[2020-11-06 01:21] fragx1011 opened #120 "eslint parsing error for vue files"
## Current Behavior
webstorm and vscode report error when openning vue files

## Expected Behavior
should work correctly

## Steps to Reproduce
create a new apps using nx cli
open the file using webstorm or vscode with eslint support

### Failure Logs
`Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.
The file does not match your project config: src/pages/auth/home

[2020-11-07 20:11] BuckyMaler commented on #120
I cannot reproduce the error after generating a new Nx workspace and Vue app. Please provide a minimal reproduction of the error. FYI, I'm using VS Code.

[2020-11-08 13:49] fragx1011 commented on #120
Hmm, just tried to create a new app using nx vue, its working propertly, i don't know exactly how it happened in my project.
I didn't modify any config file inside vue apps folder, just worked normally on my app adding new vue file/service ect ..

is there a way to print stack why error is happening?

[2020-11-08 21:15] BuckyMaler commented on #120
As far as printing a stack trace, the [`debug`](https://eslint.org/docs/user-guide/command-line-interface#-debug) option may be helpful, but [Nx](https://github.com/nrwl/nx/blob/10.3.1/docs/angular/api-linter/builders/eslint.md) doesn't surface that option.

If your repository is public, please provide a link to it. Otherwise, please provide the following information:

What version of `@nx-plus/vu

[2020-11-08 21:33] yevgeniaronov opened #122 "shared "lib" vuex store between multiple vue apps"
Hi guys, im interested in migrating an existing project that has lots of shared business logic into NX workspaces.
these are 4 vue apps that share the same Vuex store and are just seperated by theme data.
i want to extract all UI components (these components also heavily use vuex getters) and vuex store into libs and each app will be it's own entity.
im trying to understand how to go about and exe

[2020-11-10 00:08] ZachJW34 commented on #122
I would say that composing Vuex modules would be the way to go, i.e. you can create either a plain typescript library or a vue library that would contain vuex related information for some given slice of state and the components that are related. For example, say you had an app that displayed all the info from https://jsonplaceholder.typicode.com/. You could have six different libraries (posts, com

[2020-11-10 10:38] yevgeniaronov commented on #122
thank you very much for the quick and extensive answer.
ill try to implement this.

[2020-11-10 10:38] #122 closed

[2020-11-11 06:17] fragx1011 commented on #120
Hey sure, here is the link to the repo

https://github.com/fragx1011/etudesnet

[2020-11-13 23:52] fragx1011 opened #123 "Setup debugging ts code using webstorm"
## Description
Hello everyone, i want first to thanks the author and contributors of nrwl and this awesome plugin that make using monorepos using nestjs and vue possible.

My idea today is to make debugging typescript component code possible, i tried to follow official webstorm debugging tutorial setup for vuejs, but debugger dosen't stop at breaking point

Thanks you
If you have any idea to do
//

[2020-11-14 21:31] BuckyMaler commented on #120
I cloned your repo and was still unable to reproduce the error. Perhaps like you mentioned it may have been a temporary issue with your ESLint extension.

I'm going to close this issue, but if you're able to reproduce the error I can reopen it.

[2020-11-14 21:31] #120 closed

[2020-11-17 05:44] valgaze opened #124 ""Cannot Read Property Unshift of Undefined""
## Current Behavior

- Existing NX workspace with

- Install @nx-plus/vue [```npm install @nx-plus/vue --save-dev```]

- Generate vue application [```npx nx g @nx-plus/vue:app my-app```]

- Encounter an error about *"Cannot read property unshift of undefined"*

![image](https://user-images.githubusercontent.com/1396559/99348199-dcfb9480-284d-11eb-8162-122e884de116.png)

## Expected Behavior

- Add

[2020-11-17 19:08] valgaze commented on #124
Update, might be a versioning issue?

This "fresh workspace" is pinned to 10.2.0 and fails

[code]

[2020-11-17 20:15] BuckyMaler commented on #124
Sorry for the inconvenience. We need to update our docs describing version compatibility. Nx 10.3.0 introduced some fairly large changes to linting that we needed to adapt to. `@nx-plus/vue` >=10.1.0 is compatible with Nx >=10.3.0. `@nx-plus/vue` 10.0.0 is compatible with Nx <10.3.0.

I'm currently working on an issue related to dependencies and will include clarifying the details above in our doc

[2020-11-17 20:15] #124 closed

[2020-11-20 13:43] KennyDurand opened #125 "[nuxt] Nuxt-i18n integration with lazy mode does not build"
Hello there,

First, thanks for your work on this library, I discovered it yesterday and it looks very promising.

I am trying to migrate one of my Nuxt projects to Nx thanks to the plugin, and there is one last error that I can't get rid of. I would be happy to help solving it but I'm not really able to understand alone what would be the best way.

## Steps to Reproduce
1. Generate a fresh app wi

[2020-11-20 18:22] MatthieuLebigre commented on #104
Can't want to have this fixed :)

[2020-11-22 06:05] BuckyMaler commented on #125
Thanks for reporting this and for providing good details. It seems the issue is that `nuxt-i18n` is dependent on the `~` being configured as an alias with webpack, which is fair since Nuxt does configure that. We remove that alias and others [here](https://github.com/ZachJW34/nx-plus/blob/master/libs/nuxt/src/webpack.ts#L6). The reason it's removed is because we want the `tsconfig.base.json` to se

[2020-11-24 13:38] MatthieuLebigre commented on #104
@ZachJW34 do you need help with the MR ? I see it hasn't be any activity for a while

[2020-11-24 21:54] BuckyMaler commented on #104
@MatthieuLebigre Zach and I have been very busy at work lately, so we haven't had as much time to work on Nx Plus as we'd like. I'll review the PR soon.

[2020-12-01 12:09] Nightbr opened #127 "Docusaurus TypeScript support"
Hello :wave:, Thanks for nx-plus plugins for nx! I use it for docusaurus & it works great :ok_hand:

## Description

I would like to see an option to generate a Docusaurus App with TypeScript instead of only js.

## Motivation

My Nx monorepo is composed of APIs in Nestjs in TypeScript, React Apps or Angular Apps in TypeScript, and all my libs & components are written in TS (or tsx). So it could b

[2020-12-02 02:55] ZachJW34 commented on #127
Glad it's working for you! As you said, many Nx projects use Typescript so Typescript support for Docsuaurus would be nice. If you are interested in contributing, check out our [contributing documentation](https://github.com/ZachJW34/nx-plus/blob/master/CONTRIBUTING.md). Also, check out the conversation for #112. It's a workaround for typescript component support but it might be what you are looki

[2020-12-03 04:19] djkloop opened #128 "Vue3.x Support Plan?"
## Description

[code]
## Motivation

[code]

[2020-12-03 04:38] djkloop commented on #128
![image](https://user-images.githubusercontent.com/21050914/100964863-758b5780-3564-11eb-8c4f-7ca47c430fd9.png)

[2020-12-05 06:59] BuckyMaler commented on #128
You've mentioned 2 or 3 different issues in this single issue. Vue 3 is supported using the `vueVersion` option. Support for project names with underscores was added [here](https://github.com/ZachJW34/nx-plus/pull/117) and will be included in our next release. Please open a separate issue for the Cypress error you mentioned and include steps to reproduce the error.

[2020-12-05 06:59] #128 closed

[2020-12-07 03:58] dbrrt commented on #106
Adding to my package.json
`"resolutions": {
    "terser" : "4.8.0"
    }
`
solved this issue (without installing terser-webpack-plugin).

https://github.com/facebook/docusaurus/issues/3515

[2020-12-08 04:39] djkloop opened #129 "@nx-plus/vue:component command"
## Description
###### There is an official nx g @nrwl/react:component --project=xxxx xxx, will the author add the same command @nx-plus/vue:component?
## Motivation

## Suggested Implementation

## Alternate Implementations

[2020-12-09 22:23] sforner405 opened #130 "Support for Webcomponent"
Description

Support Vue CLI's web component generation, so the built artifacts can be integrated as web components.

Motivation

Many apps want to share components as web components and do want to integrate them, as they are framework agnostic. To be able to do that easily a type web component would be great.

Suggested Implementation

The Vue Cli already provides a target for it. It seems that a

[2020-12-11 20:07] EileenMcCall commented on #130
I would also like support for this. We're working on deploying web components for framework agnostic consumption and using vue to generate them. We already use Nx for other things, would be nice to use it for this too.

[2020-12-13 02:31] crutchcorn commented on #100
This works great!

However, and this could just be me, but I found the ability to overwrite Vue CLI config options from `workspaces.json` unclear until I found this issue.

@ZachJW34, would you accept a PR to docs that adds mention to this functionality?

[2020-12-13 12:36] martinstanojevic opened #131 "Deleting a default Webpack config rule"
## Description

Hi any idea how I can delete a rule from the default Webpack config? I need to use `vue-svg-loader`, but if I add my rule in `extend-webpack.js` I'm getting an `Invalid Component definition` error, so I want to try and delete the original rule.

But, although it says "The function can either mutate the config and return nothing, OR return a cloned or merged version of the config."

[2020-12-16 16:59] ZachJW34 commented on #130
If any of y'all are interested in contributing toward this feature, the relevant code for this feature can be found [here](https://github.com/ZachJW34/nx-plus/blob/fc3a30449456d2d7ba666e409eddf01ee3c8de01/libs/vue/src/builders/library/builder.ts#L86). Like @sforner405 said we currently lock the target to lib, but we could surface this as a configuration option so as to include `wc`.

[2020-12-16 18:15] ZachJW34 commented on #100
@crutchcorn All of the builder options that we have documented [here](https://github.com/ZachJW34/nx-plus/tree/master/libs/vue#browser) can be specified inside the workspace.json or as command-line options. We could be more explicit with that connection in our documentation. That said, we would welcome a contribution if you think they can be improved!

[2020-12-17 17:05] mehrad-rafigh commented on #129
@ZachJW34 @BuckyMaler I love your plugin guys and want to help
Can I grab this issue and create a draft PR?

[2020-12-18 05:42] davidmoshal commented on #104
Hi wondering how best to add vuetify.

First attempt was ` vue add vuetify ` in the app directory.
However that failed due to
`Error: The package.json file at <path omitted>/apps/vuetify/package.json' does not exist`

Suggestions on how to add vuetify would be much appreciated!

[2020-12-18 07:29] BuckyMaler commented on #129
@mehrad-rafigh thank you for your kind words and willingness to help. We'd appreciate your contribution.

Zach and I have discussed adding more schematics for Vue and we think that inspiration should be pulled from [Sarah Drasner's snippets](https://github.com/sdras/vue-vscode-snippets) because they're very popular. I'll compile a list of options this weekend and iron out expectations for a new co

[2020-12-18 15:34] mehrad-rafigh commented on #129
We need to have `--project` just like @djkloop mentioned.
`--style` should be supported too.

[2020-12-21 05:33] BuckyMaler commented on #129
@mehrad-rafigh I think the following options should be supported:

| Options          | Description                                                                                                                                                       |
| ------------- | ---------------------------------------------------------------------------------------------------  |
| `--name`       | The name

[2020-12-21 10:53] mehrad-rafigh commented on #129
@BuckyMaler looks good to me. Which `style` extensions should be supported? The same when you create a new app?

[2020-12-21 20:00] BuckyMaler commented on #129
Please support the following style extensions: `css`, `scss`, `stylus`, and `less`.

[2020-12-22 08:34] mehrad-rafigh commented on #129
I'll start with the PR tonight and will have something push worthy by the end of this week.

[2020-12-23 08:30] sforner405 commented on #130
Can try to support, but will take some time.

[2020-12-23 14:44] mehrad-rafigh commented on #129
What about a spec file @BuckyMaler?

[2020-12-29 23:11] davidmoshal commented on #104
Managed to get Vuetify to work.
Instructions on how to add Vuetify to an existing project were helpful:
- https://vuetifyjs.com/en/getting-started/installation/#webpack-install

(1) Install Vuetify and sass loader:
[code]

(2) created a `src/plugins/vuetify.js` file
[code]

(3) create file `src/shims-vuetify.d.ts`:
[code]

(4) edit `main.ts`:
[code]

[2021-01-10 10:54] mehrad-rafigh opened #135 "Update to NX 11"
NX 11 has been released a while ago and seems to getting more stable.

[2021-01-10 20:21] #129 closed

[2021-01-11 15:58] #131 closed

[2021-01-16 05:31] BuckyMaler commented on #106
I'm closing this because it's not a `@nx-plus/docusaurus` bug. There's a documented workaround [here](https://github.com/ZachJW34/nx-plus/tree/master/libs/docusaurus#troubleshooting) thanks to @devinshoemaker, and a couple more workarounds [here](https://github.com/ZachJW34/nx-plus/issues/106#issuecomment-703163714).

[2021-01-16 05:31] #106 closed

[2021-01-17 08:26] davidmoshal opened #144 "how to configure webpack"
Hi, firstly, thanks for a great library!

I've been struggling to add a simple configuration to webpack, specifically, to set `javascriptEnabled = true` as a less-loader configuration option, ie:
[code]
However, the config object doesn't seem to follow the conventions in the Vue-cli link in this project's readme.

Any suggestions on how to set the javascriptEnabled option on the less-loader would

[2021-01-17 22:15] ZachJW34 commented on #144
Can you try this?
[code]
I logged the config object and started looking for anything less related.

[2021-01-18 06:11] davidmoshal commented on #144
Seems to work, thank you!
Separately, did you see my response to #104 with instructions on how to get Vuetify working?
You might want to put that in the docs somewhere, it's a bit buried in that issue.

[2021-01-18 10:39] mehrad-rafigh opened #145 "Add Storybook support"
## Description
I would to use storybook with nx-plus and vue

## Motivation
Nx supports storybook for angular and react

## Suggested Implementation
We can take inspiration from nx and the way they implemented the schematics and builder

[2021-01-19 14:20] mehrad-rafigh commented on #145
@BuckyMaler @ZachJW34 I would like to add the ability. Is that ok?

[2021-01-19 15:58] ZachJW34 commented on #145
@mehrad-rafigh Go for it! Reach out if you have any questions.

[2021-01-20 10:22] realityfilter commented on #135
Meanwhile is there a planned release date for 10.3.0.? There seems to be a lot of related commits already.

[2021-01-20 20:06] JohannesHoppe commented on #130
In the meantime, has anyone found a workaround?

[2021-01-20 22:02] ZachJW34 commented on #135
@realityfilter we will have a new release soon.

[2021-01-21 13:41] sforner405 commented on #130
@JohannesHoppe: Right now we use https://github.com/karol-f/vue-custom-element

[2021-01-21 13:43] JohannesHoppe commented on #130
But then you are using directly the Vue CLI, right?

[2021-01-29 14:48] #104 closed

[2021-01-31 16:07] Pencroff opened #149 "Component lazy-loading"
## Description

My goal to have explicit lazy loading component, but it looks like generated by default app, bundle "About" in "app.js"

Can you please suggest workaround to access `chainWebpack` method in `vue.config.js`?
I would like to disable `prefetch` plugin like suggested in [article](https://medium.com/@mrodal/how-to-make-lazy-loading-actually-work-in-vue-cli-3-7f3f88cfb102).

UPD:
Just ch

[2021-02-02 21:26] MatthieuLebigre commented on #104
@ZachJW34 When do you plan to publish a release that includes this fix ?

[2021-02-03 16:28] ZachJW34 commented on #104
@MatthieuLebigre No later than this coming weekend!

[2021-02-05 10:26] Pencroff commented on #149
It looks like the issue was related to `nx`. After setup from scratch everything working as expected

[2021-02-05 10:26] #149 closed

[2021-02-06 22:51] #144 closed

[2021-02-10 07:29] davidmoshal commented on #144
Following up on this: wondering how to add pluginOptions ?
The usual ways don't seem to work.
Thanks.

[2021-02-11 03:30] ZachJW34 commented on #144
Say you wanted to change the name of the index.html. That is an option of the `HtmlWebpackPlugin`, so I would do this:
[code]

[2021-02-11 03:50] ZachJW34 commented on #104
@MatthieuLebigre Version 10.4.0 was released with the `transpileDependencies` option. Check it out!

[2021-02-13 01:06] davidmoshal opened #153 "`You must specify vue-cli config options in '${workspaceFileName}'.`"
## Current Behavior

If @nx-plus/vue finds a `vue.config.js` file then it throws the following Error, without any explanation or documentation:
[code]

## Expected Behavior

Documentation will exist explaining how to set vue-cli config options in workspace.json.

## Steps to Reproduce

- add a vue.config.js file to a vue app
- run: nx serve <vue-app>

nx reports

  Node : 12.20.1
  OS   : linux x6

[2021-02-15 05:37] BuckyMaler commented on #153
I think the error message is clear. Options are documented [here](https://github.com/ZachJW34/nx-plus/tree/master/libs/vue#builders-ie-task-runners) and some are pre-configured when your app is generated.

[2021-02-15 05:37] #153 closed

[2021-02-15 16:35] sforner405 commented on #130
No just standard vue lib from the plugin

[2021-02-15 22:27] Pencroff commented on #149
May be it could help:
[code]
Make sure to have module as "esnext"

[2021-02-24 10:52] KennyDurand commented on #125
Hi @BuckyMaler!

Thanks for your comment and sorry for late reply, I had a lot going on in my projects recently.
I created PR #158. Unit and E2E tests were passing in local environment.

However, I am not 100% sure how to test these modifications on my nx workspace. I launched `yarn create-playground` but I'm not sure how to use this playground to serve my applications. Is it supposed to bind this

[2021-02-24 14:34] kasszz opened #159 "Folder structure with Nx and Nuxt"
As a prefix I want to say sorry if I'm not using the correct channel for this question. Now the actual discussion:

**The folder structure with Nx and Nuxt**

I have a hard time wrapping my head around the idea of Nx in context with Nuxt.
Do you guys (non-gender) have any tips and/or tricks for me. Maybe an example or two?

**Explanation**
This is the reason why I'm asking this:
Nuxt itself has a

[2021-02-25 02:07] ZachJW34 commented on #159
I would say that you would have all your pages inside of the generated app so that Nuxt can generate all of its routes normally. These pages would act more like container components, and any of the components can then live inside of libraries if you want to put them there. Personally, I wouldn't deviate too far away from what Nuxt recommends because you'll wind up in a place where, as you said, yo

[2021-02-25 08:05] kasszz commented on #159
Okay :) thanks for answering, maybe it's a bit too generic but it almost feels like the apps are things that you want to test with e2e testing, and the libs stuff is unit based. So pages, are like you said, more configs of a route, and contain no logic, and all the logic (that need to be tested by unit tests) live in the libs folder.

[2021-02-26 16:32] kasszz commented on #159
Another question about that, what do you do with the assests? Those are optimised by Nuxt. But I find it weird to have the components look to the app for the assets

[2021-03-04 16:35] BickelLukas opened #160 "Allow additional configuration of vue.config.js"
## Description
When installing vue cli plugins, they sometimes need to be configured via vue.config.js (ex [@vue/cli-plugin-pwa](https://cli.vuejs.org/core-plugins/pwa.html#configuration))

This configuration is not possible right now.

## Motivation
The configuration of these plugins should be possible.

## Suggested Implementation
add a vue.config.js to the application and allow configuration th

[2021-03-06 15:37] CrystalMethod opened #161 "[docusaurus] can not load local / remote urls"
I suspect the error is on my side, but I can't find it. I recently added `nx-docusaurus` but I'm unable to use links in the form `[...](https://...)`

[code]

[2021-03-08 15:24] ZachJW34 commented on #159
I think the best advice I could give you is to follow what Nx recommends for Next since they are both similar frameworks.

[2021-03-10 07:05] CrystalMethod commented on #161
I was able to solve the problem by applying the following instructions: https://github.com/facebook/docusaurus/issues/3515

[2021-03-10 07:05] #161 closed

[2021-03-25 10:01] hloehrmann commented on #135
Hey, is this considered as done now that #157 was merged to `master`?

If so, when can we expect the new package to be released?

Thanks for your work!

[2021-03-25 13:50] BuckyMaler commented on #135
Yes!

We'll release v11 by Monday.

[2021-03-25 17:35] #135 closed

[2021-03-26 05:56] suadik opened #163 "scss not working"
When I generate my app, I set  my **component.vue** like this
[code]
I do not get any error, but scss is not working, it treat the **scss** file as **css**
What am I doing wrong.

Meanwhile I have this in my **workerspace.json**
[code]

[2021-03-26 22:20] #159 closed

[2021-04-09 12:55] KennyDurand commented on #125
Hey @BuckyMaler, have you had the opportunity to look at my PR? I am available to test it further and make additional modifications if needed.

[2021-04-10 23:02] BuckyMaler commented on #125
@KennyDurand I requested a small change. Please make that at your convenience.

The playground doesn't link to other workspaces. It provides a new workspace with all of our plugins installed so that you can test your changes. I tested by changing my working directory to `tmp/nx-playground/proj`, generated a Nuxt app, and added `nuxt-i18n`.

[2021-04-16 08:51] DominikPieper opened #165 "Support Nx11 generator for Vue schematics"
It would be great to be able to use the new generator syntax in your own generators.

## Description
Add additional generators for the schematics

## Motivation
While migrating my schematics it would be great to be able to migrate that part using the vue schematics as well

## Suggested Implementation
See PR

[2021-04-18 08:38] viacheslav-saloid-happ commented on #89
Hello. Any updates about this?

Did you find a solution?

[2021-04-20 02:29] dustinlacewell opened #169 "Unable to import workspace libraries"
## Current Behavior
Unable to import any of the libraries in my workspace.

## Expected Behavior
The ability to import workspace libraries.

## Steps to Reproduce

Create a workspace with NX 12, boostrap a react component library and docusaurus. Try to import the react component library.

### Failure Logs
[code]

[2021-04-20 03:02] BuckyMaler commented on #169
This is related to #127 and #112. We don't plan on adding TypeScript support to Docusaurus soon, but we'd appreciate a contribution. If you're unable to contribute at this time, then perhaps this [workaround](https://github.com/ZachJW34/nx-plus/issues/112#issuecomment-707996025) will help you.

[2021-04-20 03:02] dustinlacewell commented on #169
I have tried the method mentioned in https://github.com/ZachJW34/nx-plus/issues/112 to no avail:

[code]

[2021-04-20 03:16] #165 closed

[2021-04-20 04:10] dustinlacewell commented on #112
I have tried the method above and I don't think it is working any longer:

[code]

It results in errors like this:
[code]

[2021-04-20 18:48] CrVnsh commented on #130
@sforner405 would be nice if you could share an example of your workaround.

[2021-04-23 03:35] #125 closed

[2021-04-23 21:55] #163 closed

[2021-04-24 02:56] linbudu599 opened #171 "[HELP WANTED] Nx plugin package is not including package specified deps"
## Description

I'm also developing nx plugins, but I got a strange trouble which seems to only occurs to me(so I choose to ask help from
the experienced community plugin developers instead of opening a issue in nx repo).
My problem is that nx plugin package doesn't include dependencies it used, these deps are npm packages. use `--with-deps` or `--buildableProjectDepsInPackageJsonType=dependencies

[2021-04-25 05:55] #171 closed

[2021-04-25 20:27] billyjov opened #172 "[Vue] unable to create a new vue app into an empty workspace"
## Current Behavior

![2021-04-25 22_10_43-Auswählen Windows PowerShell](https://user-images.githubusercontent.com/18737653/116008193-8facfb80-a613-11eb-9d89-98cec6127e14.png)

## Expected Behavior

[code]

Should create a new app into the empty workspace.

## Steps to Reproduce

- Create an empty workspace:  `npx create-nx-workspace` and choose empty
- Install plugin: `npm install @nx-plus/vue --

[2021-04-25 22:35] BuckyMaler opened #173 "Nx v12 support"
## Description

Nx v12 support for all plugins.

[2021-04-25 22:38] BuckyMaler commented on #172
We don't officially support Nx v12 yet. I can't reproduce this error with v11.

I created an issue to add Nx v12 support to all plugins. #173

[2021-04-27 05:48] BuckyMaler commented on #160
Thanks for creating this issue. I explain my current position on adding `vue.config.js` support [here](https://github.com/ZachJW34/nx-plus/pull/164#pullrequestreview-644089635).

At this time, we want to wait for more user feedback about this before deciding on a direction.

For the example of `@vue/cli-plugin-pwa` that you mentioned, support for configuring that in `workspace.json` can be added.

[2021-04-27 10:37] LuckeeDev commented on #172
Same error here, should we just use v11 for now @BuckyMaler?

[2021-04-27 11:02] LuckeeDev commented on #145
@mehrad-rafigh any update on this? Need any help in developing the feature?

[2021-04-27 13:49] mehrad-rafigh commented on #145
@LuckeeDev I have not found the time to develop this. You can grab this issue and start programming :)

[2021-04-27 14:04] LuckeeDev commented on #145
@mehrad-rafigh yes, I can take a look at it!

[2021-04-28 15:49] BuckyMaler commented on #172
@LuckeeDev yes. I'll add v12 support as soon as I can.

[2021-05-11 10:34] realityfilter commented on #59
Is the babel support already implemented? Would be really nice to have this feature.

[2021-05-27 20:18] binary64 commented on #127
This would be AWESOME! I beleive it would require an nx plugin for docusaurus, in order to inject into the webpack config to (presumably) load in `ts-loader`.

[2021-05-31 19:54] #172 closed

[2021-05-31 19:54] #173 closed

[2021-06-09 03:31] JoA-MoS commented on #145
do you have a repo that you have successfully configure storybook for a vue library in nx that can be used as a template for future development?

[2021-06-15 02:23] esterfaniasantos commented on #89
Any updates about this?

[2021-06-15 13:39] esterfaniasantos commented on #89
I tried like this and it worked:
[code]

[2021-06-18 12:55] JensVanhulst opened #179 "Vue app doesn't load in nx-electron"
## Current Behavior
I tried to add electron support to my Vue app generated with ```nx g @nx-plus/vue:app my-app``` and electron with : ```nx g nx-electron:app <electron-app-name> **--frontendProject=<frontend-app-name> ``` .

When starting up the vue app, everything works fine. But when I try to launch with electron using ``` nx run-many --target=serve --projects=<frontend-app-name>,<electron-app

[2021-06-20 04:50] BuckyMaler commented on #179
We'd like to support Electron, but it's not a high priority of ours. Please consider contributing a fix. May be @bennymeg can provide some direction.

[2021-06-21 21:04] bennymeg commented on #179
Firstly, make sure you are either using port 4200 or updating app.ts to use the correct port.
Another thing that might happen is that the electron app finished compiling before your vue app (which is most likely to happen) to fix that you can either serve you app in two stages, or using the hot reload feature to update the app.

[2021-06-23 11:18] Nightbr opened #181 "Docusaurus builder Imcompatible with Terser 5+"
Hey,
hope you're doing well!

I have an issue with `@nx-plus/docusaurus` to build the docs in prod.

Context: https://github.com/facebook/docusaurus/issues/3515#issuecomment-851504933

## Current Behavior

Environment:

-  Monorepo manage by Nx 12.4
-  @nx-plus/docusaurus Nx plugin 12.0.0
-  Yarn
-  Docusaurus 2.0.0-beta.1
-  webpack 5+

When building with Docusaurus, I run into the known issue ab

[2021-06-30 14:36] herrKlein opened #183 "Breakpoints are unbound in Vue application"
Breakpoints on vue typescript code stay unbound

When VSCode is connected to a browser I can set breakpoints in other lib folders from the same project
But when in a Vue app the breakpoints stay unbound ( hollow circle instead of red dot )

Add Vue project, try adding a breakpoint

[code]

[2021-06-30 19:03] danielquintero commented on #145
I am currently working on a PoC to migrate to Nx and possibly convince of its benefits but this is a show stopper, @LuckeeDev any help needed, are you currently working on this?

[2021-07-01 10:22] LuckeeDev commented on #145
@danielquintero sadly, I've not had the time to work on this :(

[2021-07-03 21:13] BuckyMaler commented on #179
@JensVanhulst have you been able to try what @bennymeg suggested?

[2021-07-04 14:40] JensVanhulst commented on #179
@bennymeg @BuckyMaler. I have been busy lately. But today I gave it another shot.
 It appeared to be the rendererAppPort was set to 4200 (as mentioned). After changing this to 8080 the app launched.
 I overlooked the port number in the config (my bad).

 Thanks for helping !

[2021-07-04 14:40] #179 closed

[2021-07-09 06:35] herrKlein opened #185 "Typed Vuex this.$store not typed. After adding shim"
Hi, great plugin, thanks for the effort.

## Current Behavior

I tried to type 'this.$store' with this [typed this.$Store](https://next.vuex.vuejs.org/guide/typescript-support.html)
Included the shim in both the nx project folder and apps/vue project folder.
this.$store is still <any>

## Expected Behavior
a typed this.$store in vue methods
I succesfully managed to type useStore.

## Steps to Repr

[2021-07-12 02:06] ZachJW34 commented on #185
I was able to get the typings to work by configuring Vetur to work in a monorepo and adding `"strict": true` to the `compilerOptions` of an app's `tsconfig.app.json`. For example, given an app called `my-app`:
[code]
[code]
I was able to get the proper typings after adding the `vuex.d.ts`
<img width="706" alt="Screen Shot 2021-07-11 at 9 04 46 PM" src="https://user-images.githubusercontent.com/251

[2021-07-13 20:17] always-maap opened #186 "Docz plugin"
## Description

Hey. I'm working with nx in our company for a few months now. I want to work on Docz plugin here with you guys. If you guide me towards I think I can make it happen. Thanks

[2021-07-15 17:39] always-maap commented on #186
I manage to add files to apps and add dependencies. Then I create the dev executed but this is the tricky part which I stack in it

[2021-07-16 07:04] herrKlein commented on #185
Glad there is some kind of solution.
Wonder why strict mode is necessary, the whole project ( including a bunch of webcomponents imported in vue ) is now strict checked and it's not nice. Too many errors to fix :(

Do you know if this lies within vue integrated in a monorepo, or is it just vue who wants everything scrictly typed?

[2021-07-17 06:48] crutchcorn opened #187 "[Vue] TypeScript inferred prop types fail build"
## Current Behavior

It seems, that if you use a typed property in a TypeScript Vue component:

[code]

It will throw an error

## Expected Behavior

This should not throw an error. In the minimal reproduction I provided (see below), I confirmed that the exact same Vue component does now throw an error and both serves and builds perfectly fine.

This issue also only occurs on `vue@>=3.0.8`. When u

[2021-07-21 10:22] SvenBudak commented on #145
Is there an estimate if and when this feature will be available? I would like to do something for it myself, but my skills are not enough.

[2021-07-21 23:53] BuckyMaler commented on #187
Thanks for reporting this and great details!

I discovered while playing around in your repro that setting `"strict": true` in the `my-app` project's local `tsconfig.json` fixed the issue. I think that should be our default because of this, #185, and it's the default in Vue CLI.

Would you like to contribute the fix? You'd need to make the change for the app and library schematics.

[2021-07-22 00:00] crutchcorn commented on #187
Oh! Awesome!

I actually would love to make this contribution!

Is this also something that we could update with a `nx upgrade` schematic as well? Hopefully that way other consumers won't run into similar issues

[2021-07-22 00:09] BuckyMaler commented on #187
Thanks!

I don't think a migration schematic should be paired with this because it can result in many other errors that would break builds. I imagine user frustrations similar to [this](https://github.com/ZachJW34/nx-plus/issues/185#issuecomment-881226300).

[2021-07-23 04:50] #187 closed

[2021-07-23 05:10] BuckyMaler commented on #185
@ZachJW34 with #188 merged it seems adding or updating `vetur.config.js` with the app and library schematics, and adding `vuex.d.ts` with the vuex schematic would be all that's needed to provide Vuex type support out of the box. Is that correct?

@herrKlein  would you like to contribute these changes?

[2021-07-23 14:14] Nightbr commented on #181
Upgrading to `Nx 12.6`, `webpack 5` & `docusaurus-2.0.0-beta.3` fixed the issue \o/

[code]

- https://blog.nrwl.io/next-js-11-webpack-5-for-web-node-streamlined-jest-config-and-more-in-nx-12-6-f8cd5be4fb
- https://nx.dev/latest/react/guides/webpack-5

[2021-07-23 14:14] #181 closed

[2021-07-24 15:17] herrKlein commented on #185
Hi @BuckyMaler
Do I understand vetur.config.js is updated with the strict property default to true? What changes can I contribute further?
Personally, strict mode is not working for me, it opposes also strict mode on everything I import in Vue ( like webcomponents ) and I am still wondering if Vue with typescript is usable without strict mode in NX. Maybe I am too inexperienced to understand your

[2021-07-24 17:34] nathandaly opened #189 "ERESOLVE unable to resolve dependency tree"
## Current Behavior
[code]

## Expected Behavior
No error with Nuxt support added to the the blank NX workspace.

## Steps to Reproduce
[code]

### Environment
[code]

[2021-07-24 19:39] BuckyMaler opened #190 "Nuxt compilation error - Cannot find module '@babel/preset-env/lib/utils'"
## Current Behavior

A compilation error for a newly generated Nuxt app.

## Expected Behavior

No compilation errors for a newly generated Nuxt app.

## Steps to Reproduce

1. `npx create-nx-workspace@^12.0.0`
2. `cd my-workspace`
3. `npm install @nrwl/cypress@^12.0.0 @nrwl/jest@^12.0.0 @nrwl/linter@^12.0.0 --save-dev`
4. `npm install @nx-plus/nuxt --save-dev`
5. `nx g @nx-plus/nuxt:app my-app`
6

[2021-07-24 19:40] BuckyMaler commented on #190
Workaround: https://github.com/nuxt/nuxt.js/issues/8882#issuecomment-784031978

[2021-07-24 19:44] BuckyMaler commented on #189
Thanks for reporting this!

This is a bit of a [hairy issue](https://twitter.com/housecor/status/1325524945334661121) related to how npm 7 handles peer dependencies.

There are a couple of workarounds. One, use npm <7. I would recommend this. Two, run `npm install --legacy-peer-deps` after getting the reported error. I wouldn't recommend this for the reason noted in the error message.

I'm leaving

[2021-07-24 21:14] nathandaly commented on #189
@BuckyMaler Firstly, thank you for the super fast reply.

Cheers for the tips, tbh I didn't know that about npm 7. Will try downgrading it Following on from twitter status 👍

[2021-07-24 21:47] BuckyMaler commented on #189
You're welcome!

Also, be aware I came across a separate issue #190 while testing this. I've linked a workaround in that issue.

We'll try to replace these workarounds with fixes soon.

[2021-07-25 09:15] nathandaly commented on #189
Just leading on from this. I had to use `--force` on top of `--legacy-peer-deps`  as it REALLY didn't want resolve anything.

[code]

[2021-07-25 13:17] nathandaly commented on #190
@BuckyMaler I added `"pre-install": "npx npm-force-resolutions"` to main the nx `package.json` file and still faces the same output. I use NPM, have I missed something?

[code]

[2021-07-25 13:20] nathandaly commented on #190
Ah I needed the below also even though I thought that was just for yarn users.

[code]

[2021-07-31 23:30] ZachJW34 opened #191 "Vue 3 tests fail with latest version of Nx and Jest"
## Current Behavior
Vue 3 tests fail with latest version of Nx (v12.6.3) and Jest (v27)

## Expected Behavior
Vue 3 tests should pass with latest version of Nx and Jest

## Steps to Reproduce

1. npx create-nx-workspace@latest nx-vue --packageManager yarn --preset empty --nxCloud false && cd ./nx-vue
2. yarn add -D @nx-plus/vue @nrwl/{linter,cypress,jest}
3. nx g @nx-plus/vue:app my-app --vueVersi

[2021-07-31 23:31] ZachJW34 commented on #191
There is some work on this issue [here](https://github.com/vuejs/vue-jest/issues/344).

[2021-07-31 23:37] ZachJW34 commented on #185
@BuckyMaler Yes that would be all that is needed to provide type support for Vuex.

[2021-08-13 06:47] nidomiro commented on #190
I had the same problem after a clean setup (Readme followed) today. Upgrading the `nuxt` dependency to `^2.15.8` fixed the issue for me

[2021-08-14 06:39] nidomiro commented on #145
The solution is pretty easy (for nuxt), but it took me several hours to get there.

1. Install nuxt/Storybook as mentioned here: https://storybook.nuxtjs.org/getting-started/installation/
2. Add the following to your nuxt-targets in `workspace.json|angular.json|project.json` (replace the value of `cwd` with the path of your app):
[code]
3. Add `"build-storybook"` to `tasksRunnerOptions.default.opt

[2021-08-30 11:36] pareshchouhan opened #194 "Adding "css.extract": false to workspace.json isn't working"
## Current Behavior

Adding "css.extract": false to workspace.json isn't working
## Expected Behavior

Adding "css.extract": false to workspace.json should not create a seperate CSS file for library after running nx build
## Steps to Reproduce

any repo with library in it.

### Failure Logs

### Environment

  Node : 12.18.0
  OS   : win32 x64
  npm  : 6.14.4

  nx : Not Found
  @nrwl/angular : 12

[2021-08-31 15:16] TomasFuentes commented on #181
Hello!. I'm facing the same problem, But I tried with the solution mentioned by @Nightbr and it hasn't worked for me, the addition of the docusaurus app breaks the build of my other apps. Could you share with me your package json?

[2021-09-05 13:20] dpietrzyk commented on #191
Are there any updates on this issue?
I see that mentioned PR is still not merged (after 19 days) and I am struggling with vue 3 + nx + jest setup 3nd day :/
I tried versions 24, 25, 26, 27 and nothing seems to work :/

Resolve this issue will enable my project!

[2021-09-05 21:38] ZachJW34 commented on #191
@dpietrzyk just updated the PR. I'll get it merged and create a new release for this soon.

[2021-09-06 00:24] #191 closed

[2021-09-06 21:06] ZachJW34 commented on #191
Released in [12.2.0](https://github.com/ZachJW34/nx-plus/releases/tag/v12.2.0)

[2021-09-07 17:29] dpietrzyk commented on #191
@ZachJW34 Thanks! It is working now!
You saved me a lot of time!

Unfortunately  `nx migrate @nx-plus/vue` don't update all packages related with `@nx` && `jest.config` for already created apps / libs.

So for all who can face this issue - there is one breaking change, you need to manually change in `jest.config.js`:
- for transform:  `vue-jest` => `vue3-jest`
- for all properties in globals > vue

[2021-09-14 12:55] TASimpson opened #196 "Help with ESLint on save and Code Coverage %"
This is my first time starting a discussion so I hope this is right :)

But I have followed the steps from https://www.npmjs.com/package/@nx-plus/vue to create my vue app. So far it has been great! I have downloaded NX Console and all commands listed from serving up the app to running simple commands has been easy to follow. I am only left with a couple of issues that my team would like me to do f

[2021-09-14 20:51] #196 closed

[2021-09-14 22:42] ZachJW34 commented on #196
We explicitly disabled linting on save because running `nx lint` is the _Nx_ way to handle linting, same with `nx test`. That might feel strange coming from, say, a Vue CLI project where you might have had linting and testing on save but the separate commands fits into the Nx ecosystem better.

[2021-09-17 20:32] oben01 commented on #190
Any update on this issue ?

[2021-09-22 00:06] paustint opened #197 "@nx-plus/docusaurus Fails to serve/build with latest version of nx"
I suspect this has to do with webpack in some capacity.

1. Start new nx project, add a react app
2. install plugin
3. generate app from plugin
4. attempt to server or build plugin

Sample codebase with issue: https://github.com/paustint/nx-12-test

Seems the same as this: https://github.com/facebook/docusaurus/issues/4709

run `nx serve docs` to reproduce

NOTE: This is a stock nx project OOB, no

[2021-09-22 01:13] paustint commented on #197
Upgrading to webpack 5 https://nx.dev/l/a/guides/webpack-5 solved this issue.

[2021-09-22 01:13] #197 closed

[2021-10-04 10:52] SvenBudak opened #198 "Cant Use some Libs in a Project"
I created a project with the latest versions and tried to migrate a project to it. Most of it worked fine... However, I have a Slider.vue in the libs which I in turn use another component within that lib:

![image](https://user-images.githubusercontent.com/4930169/135838710-0c22d1af-7d6e-4775-83a5-dfa3d15ebc7a.png)

Strangely enough, this does not work in the `SelectedCarLine` component. If I use

[2021-10-04 16:14] SvenBudak commented on #198
@ZachJW34 I deleted everything from the Project that is not needed to reproduce the error: https://github.com/SvenBudak/Vue-Plus

[2021-10-06 14:19] gperdomor opened #199 "Cannot find module '@docusaurus/mdx-loader'"
## Current Behavior
I just create a Docusaurus app and can't run with `nx serve my-app`

## Expected Behavior
The app should run

## Steps to Reproduce
I just create the app in my workspace (https://github.com/gperdomor/nx-tools)

### Failure Logs
Cannot find module '@docusaurus/mdx-loader'
Require stack:
- /Users/gperdomor/Developer/nx-tools/node_modules/@docusaurus/core/lib/server/index.js
- /Us

[2021-10-06 19:06] lianulloa opened #200 "Cannot find module '*.png' or its corresponding type declarations.Vetur(2307)"
## Current Behavior
I'm trying to import an image into a component, inside a library project type, but I get the cannot find module error.
I have added the corresponding .d.ts with:
[code]
but it seems like it doesn't find it.

I don't get an error when I run the app containing this component because I added the module declaration inside the app as well, but I keep getting this in the file

## Exp

[2021-10-09 20:22] adam-arold opened #201 "The Vue plugin doesn't work with latest Nx"
I generated an `Nx` project (latest version), then I added Vue following the directions in the `README` file here. This is what I get when I try to generate an app (by copy-pasting the instructions):

[code]

Looks like that the Vue plugin tries to use some very old version of the `eslint-plugin`. What can I do with this?

[2021-10-24 05:07] BuckyMaler opened #203 "Lint warning in new Vue and Nuxt projects"
## Current Behavior

A warning is logged when running lint for new Vue and Nuxt projects.

## Expected Behavior

No warnings should be logged when running lint for new Vue and Nuxt projects.

## Steps to Reproduce

1. `npx create-nx-workspace@^12.0.0 my-workspace`
2. `cd my-workspace`
3. `npm install @nrwl/cypress@^12.0.0 @nrwl/jest@^12.0.0 @nrwl/linter@^12.0.0 @nx-plus/vue --save-dev`
4. `nx g @n

[2021-11-02 21:07] idrise opened #204 "What is involved in boosting the version of NX in nx-plus."
## Description
What is involved in boosting the version of NX in nx-plus.

[2021-11-03 08:40] pareshchouhan opened #205 "Build same library for both vue2 and vue3"
## Description
Build library for both Vue2 and Vue3 without having separate projects in a NX repo

## Motivation
Most old projects are using Vue2

## Suggested Implementation
Have separate build files, We have done it before with different rollup configs before
Vue2 build script https://gist.github.com/pareshchouhan/af1a577ca092ffa8705534ca78911635
Vue3 build script https://gist.github.com/pareshc

[2021-11-05 22:12] #194 closed

[2021-11-26 22:58] adam-arold commented on #201
I went with React instead.

[2021-11-26 22:58] #201 closed

[2021-12-01 07:35] pareshchouhan commented on #194
It does work, sorry, Thanks for your help.

[2021-12-01 10:33] pareshchouhan commented on #205
Update on this, now there's a package that allows to build for both vue2 and vue3, It is called `vue-demi` any plans to include it in the newer versions of nx-plus vue?
https://github.com/vueuse/vue-demi

[2021-12-07 18:15] BartInTheField commented on #160
Is vue.config.js support still on the roadmap?

[2021-12-12 19:34] ZachJW34 commented on #204
Mostly migrating the repo itself and making sure the builders/schematics still work. We sometimes write our own migrations but they can be a bit of a hassle. I've been away from contributing to this repo for a bit but I plan on getting them all up to date soon

[2021-12-12 19:35] #190 closed

[2021-12-12 23:03] ZachJW34 commented on #205
We use `@vue/cli` to build and serve the apps and libs created with `@nx-plus/vue`. I'm not sure if `@vue/cli` supports both vue 2 and vue 3 builds, though I suppose if you swapped out all the vue 3 APIs with their corresponding `vue-demi` equivalents it might work. I don't think this is something we are going to support since Vue 3 is stable, so writing a custom builder for your project might be

[2021-12-14 12:10] bromso opened #208 "Error while installing & serve:ing with both NPM & Yarn"
I've been trying to install and get this to work.
When I tried using NPM, I got the same type of errors as this issue: https://github.com/ZachJW34/nx-plus/issues/189 , both in NPM 7 & using lower versions of NPM like the recommendation in the issue above.

So I turned to Yarn. But I still are getting errors and can't get Nuxt to work.

[code]

[code]

[code]

First line of errors
[code]

Second li

[2021-12-24 08:04] Aysnine opened #209 "Lib build error `TypeError: Cannot read property 'tapAsync' of undefined`"
## Current Behavior

Build failed `TypeError: Cannot read property 'tapAsync' of undefined`

## Expected Behavior

Build.

## Steps to Reproduce

Init by `nx g @nx-plus/vue:lib vue-core --publishable` and moved from `libs` to `packages`.

project.json :

[code]

### Failure Logs

Error when `nx build vue-core --verbose`:

[code]

### Environment

[code]

[2021-12-24 08:10] Aysnine commented on #209
Normal init and not moved still error.

[2021-12-25 13:20] Aysnine commented on #209
Nx13 only support Webpack5. Seem this repo vue-cli4.5 not match.

[2021-12-29 12:36] mklueh opened #210 "[NX] Angular devkit called `writeWorkspace`, this may have had unintended consequences in workspace.json"
Hello, I'm trying to use this plugin on a freshly created workspace, but something is not working expectedly.

[code]
package.json dependencies
[code]

workspace.json
[code]

Why are there any angular dependencies being called and what is wrong with my workspace.json ?

[2021-12-31 08:11] mklueh opened #211 "Fresh nx@^12.0.0 installation - conflict with @typescript-eslint/parser@4.19.0 when running nx g @nx-plus/vue:app my-vue-app"
I'm trying to get this package working. I have uninstalled everything nx-related and installed nx@^12.0.0, create-nx-workspace@^12.0.0 , @nrwl/cypress@^12.0.0, @nrwl/jest@^12.0.0, @nrwl/linter@^12.0.0, @nx-plus/nuxt and @nx-plus/vue.

Running  nx g @nx-plus/vue:app my-vue-app leads to the following error:

[code]

Upgrading to @typescript-eslint/parser@~4.31.1 fails

[code]

Downgrading to @nrwl/e

[2021-12-31 08:23] mklueh commented on #211
I needed to remove npm remove

npm remove @nrwl/eslint-plugin-nx @vue/eslint-config-typescript

npm install  @nrwl/eslint-plugin-nx@12.0.0 --save-dev

and now it works.

This is my package.json in case anyone struggles as well:

[code]

What a horrible start with nx so far, but thanks for this package anyway.

Do you have plans to migrate to the latest nx version so far or even merge this package

[2021-12-31 08:24] mklueh commented on #210
This was caused by using the wrong nx versions, see https://github.com/ZachJW34/nx-plus/issues/211

[2021-12-31 08:24] #210 closed

[2021-12-31 16:03] ZachJW34 commented on #211
I'm currently working on migrating the packages to v13

[2022-01-09 09:28] clementvp commented on #211
Same issue Here.
On Node 14.17.5 ( A pseudo recent LTS version).
I've tested all the above solutions and followed the installation guide ( with a nx@^12.0.0 install). Not working.

And i tried with Node 12.6.1, and everything go smooth. Very weird, and very boring, because node 12.x.x support is about to drop on april of this year :/

I think migrate to NX v13 and try to follow NX versions is a go

[2022-01-12 21:12] davidmoshal opened #217 "maxWorkers doesn't seem to work"
## Description
Trying to increase maxWorkers in workspace.json, doesn't seem to have any effect.

## Motivation
Current build time is very slow.

## Suggested Implementation
Ability to specify maxWorkers either in a config file or on command line.

## Alternate Implementations

[2022-01-12 21:19] davidmoshal commented on #217
Note: @nrwl/web:dev-server does have a maxWorkers option, but @nx-plus:vue doesn't like that option:

https://github.com/nrwl/nx/blob/67cb8cf8cccb0d4212627771bb78e9033b7ce83c/docs/default/api-web/executors/dev-server.md

Is there a way to pass options through nx-plus:vue to nrwl/web:dev-server ?

[2022-01-13 02:59] davidmoshal commented on #217
closing as this may not solve the problem of very slow build times

[2022-01-13 02:59] #217 closed

[2022-01-13 03:02] davidmoshal opened #218 "very slow build times"
## Current Behavior

Very slow build times.
running SpeedMeasurePlugin (https://github.com/stephencookdev/speed-measure-webpack-plugin) ,
including vue-loader running several times on each file, and also parsing node_modules
(despite skipLibCheck: true, and excluding node_modules in tsconfig files)
Some files are taking 12 seconds per file!

## Expected Behavior

Faster build times

## Steps to Re

[2022-01-13 06:41] davidmoshal commented on #218
The build time is slowest when editing less files.
We're using Ant Design Vue UI, which uses less.

Interestingly:
- the Ant Design Vue npm package specifies less-loader at 6.0.0 (which had significant breaking changes),
- the nx-plus/vue package.json has less-loader 5.0.0 as a dependency.
- the node_modules folder has less-loader at 5.0.0 (ie the same as the nx-plus/vue version).
- however our pa

[2022-01-19 00:12] paulhobbel commented on #211
You should consider upgrading @vue/eslint-config-typescript to 10.0.0, that fixes the error above 👍

[2022-01-21 10:29] samk-dev opened #220 "Can't create new project with npx create-nx-workspace@^12.0.0"
## Current Behavior
Can't create new project with npx create-nx-workspace@^12.0.0

## Expected Behaviour
Scaffold new nx workspace

## Steps to Reproduce
in you terminal run npx create-nx-workspace@^12.0.0 and you get the following error message:

[code]

please see attached screenshot
![Screenshot 2022-01-21 at 11 28 58](https://user-images.githubusercontent.com/33263129/150511522-35026673-3ef3-4

[2022-01-24 18:28] snorreks opened #221 "@nx-plus/nuxt: Cannot find module error when importing from libs"
## Current Behavior

I get error when importing from a library when using @nx-plus/nuxt.
When i run build or serve i get "Cannot find module '@onboardr/localekey-data-access'" error.

It works on other apps, i only get the error with @nx-plus/nuxt.

I get the error when running
[code]
linting works:

[code]

## Expected Behavior

Be able to build or serve a nx nuxt app.
## Steps to Reproduce
tscon

[2022-01-31 05:25] JonathanWilbur opened #222 "NX 13 support"
I force-installed this app in an NX 13 monorepo and I got this error in the console:

[code]

This might not be the only issue, but maybe it would help somebody fix this.

[2022-01-31 05:55] JonathanWilbur commented on #222
Also, I used `console.log()` to inspect what this object looks like:

[code]

[2022-02-01 15:11] MisterBE2 commented on #222
I have te same issue.

[2022-02-02 00:32] keadex commented on #222
Same issues here.

In Nx 13, `toFileName()` and `offsetFromRoot()` are exported by the the `@nrwl/devkit` package.

So, I've tried the following quick & dirty patch of the `node_modules\@nx-plus\docusaurus\src\schematics\app\schematic.js` file:

- Added the `const devkit_1 = require('@nrwl/devkit');` at the bottom of the file
- Changed the `toFileName()` usage (e.g. `workspace_1.toFileName(options

[2022-02-14 13:05] mwidmann commented on #208
Should somebody else stumble on this while trying this out, here's the solution I found on [StackOverflow](https://stackoverflow.com/questions/66325582/nuxt-js-cannot-find-module-babel-preset-env-lib-utils)

Adding the following to my `nuxt.config.js` fixes this:

[code]

I'm not much further than this yet, but at least it allows me to proceed.

[2022-02-26 03:47] SimonDever opened #224 "How to enable runtimeCompiler"
## Description

With Vue3, is there a way to turn on `runtimeCompiler`? I tried the [existing PR](https://github.com/ZachJW34/nx-plus/pull/164) that allows the `vue.config.js` file to be used as per [this request](https://github.com/ZachJW34/nx-plus/issues/160) but still couldn't seem to define the `runtimeCompiler` no matter how I tried. I want to configure custom elements during runtime using `a

[2022-02-26 22:50] dpietrzyk opened #225 "ERROR Invalid options in inline options: "css.requireModuleExtension" is not allowed"
## Current Behavior

Error during build vue app.

![image](https://user-images.githubusercontent.com/32246156/155861530-c7cd80c0-de09-41cd-93c6-712e03da100e.png)

`ERROR  Invalid options in inline options: "css.requireModuleExtension" is not allowed` after upgrade `@vue/cli-service` from `4.5.15` to `5.0.1`

From v5 version this option is removed from CLI: https://cli.vuejs.org/config/#css-require

[2022-03-04 02:14] binary64 opened #226 "Install project to /docs folder"
## Description
Presently I can only seem to install new docusaurus projects into my /apps directory. It would be nice to have these in /docs

## Motivation
I have a mental separation between the code and the documentation. Although, this may be misguided.

[2022-03-08 13:43] fxck commented on #222
Any plans to release nx 13 compatible version @ZachJW34?

[2022-03-08 14:46] fxck commented on #222
I tried forking the update-all branch, it did manage to generate the library, but not having much luck building it

<img width="504" alt="image" src="https://user-images.githubusercontent.com/1303561/157261405-3c6a8fa5-969a-4084-a727-5566569d6a5e.png">

I can't get Nx to be more verbose..

[2022-03-12 11:16] WCN-llc opened #227 "This does not work"
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: nxvue@0.0.0
npm ERR! Found: @nrwl/workspace@12.0.0
npm ERR! node_modules/@nrwl/workspace
npm ERR!   dev @nrwl/workspace@"12.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @nrwl/workspace@"^12.6.0" from @nx-plus/vue@12.2.0
npm ERR! node_modules/@nx-

[2022-03-26 19:51] ZachJW34 commented on #222
I've just published v13 for all packages. Try them out and let me know how they work!

[2022-03-26 19:51] #222 closed

[2022-03-26 20:00] ZachJW34 commented on #226
You should be able to generate an app and then move it top-level. For example:

[code]

[2022-03-26 20:02] ZachJW34 commented on #227
Can you share a reproduction? I will need more information before I can fix the issue you are running into.

[2022-03-26 20:05] ZachJW34 opened #228 "Support vue-cli@5"
vue-cli@5 is stable now and `@nx-plus/vue` should drop support of vue-cli@4 and switch to 5.

[2022-03-26 20:05] ZachJW34 commented on #225
We don't support vue-cli@5 yet. Might be easy to add, might be hard but this would be a feature request.

I've opened https://github.com/ZachJW34/nx-plus/issues/228 to track vue-cli-5 support.

[2022-03-26 20:05] #225 closed

[2022-03-26 20:10] ZachJW34 commented on #224
You can see what vue-cli does when you pass [runtimeCompiler](https://github.com/vuejs/vue-cli/blob/926855fac7a52ea960c00720f09196cd13b443ff/packages/%40vue/cli-service/lib/config/base.js#L70). Can you try setting the proper alias inside `configure-webpack.js` and see if that works?

[2022-03-26 20:12] ZachJW34 commented on #204
Support for v13 has been added.

[2022-03-26 20:12] #204 closed

[2022-03-27 09:18] namdien177 opened #229 "nx-vue cannot serve the app with Tailwind and PostCSS install"
## Current Behavior
nx-vue workspace with TailwindCSS (postCSS) cannot compile due to postCSS version error.

## Expected Behavior
NX-Vue should be able to serve the app with Tailwind and PostCSS.

## Steps to Reproduce
Reproducing NX-Vue Tailwind Error:
Create NX-Vue workspace

1. `npx create-nx-workspace@latest`
2. `pnpm install @nrwl/cypress@^13.0.0 @nrwl/jest@^13.0.0 @nrwl/linter@^13.0.0 --sav

[2022-03-27 16:31] ZachJW34 commented on #229
Looks like `vue-cli@4` doesn't support postcss8 so you have have to install a [compat](https://v2.tailwindcss.com/docs/installation#post-css-7-compatibility-build) version of tailwind css until I update vue to use `vue-cli@5`. I pulled down your repo and got it working by installing:

[code]

I had to pin the version of typography since it was expecting colors that don't exist for that version of

[2022-03-28 04:57] namdien177 commented on #229
The temporary solution is working fine, thank you. It seems like I have to wait for `vue-cli@5` to use the normal Tailwind version. Looking forward to that.

[2022-03-28 04:57] #229 closed

[2022-03-31 06:36] matijaparavac opened #230 "Support for Pinia Vue Store"
## Description
Add support for Pinia like there already is for vuex

## Motivation
Pinia is officially recomended by Vue core team

[2022-03-31 13:07] TrayHard commented on #145
Please do it someone, who has the time for it, really cool and important thing

[2022-03-31 22:48] ZachJW34 commented on #230
Would you be interested in contributing a PR for a Pinia schematic? It should be very similar to the current vuex schematic in terms of implementation. I've been using Pinia and it would be a great feature to add.

[2022-04-01 23:59] matijaparavac commented on #230
I would love to, but I have 3 kids and don't have time for anything anymore
😑
Btw, you are doing a great job with nx-plus!

On Fri, Apr 1, 2022, 00:49 Zachary Williams ***@***.***>
wrote:

[2022-04-02 22:10] prodkt opened #231 "This does not work past any step 1. Broken on initialize."
## Current Behavior
nx build

⠙  Building for development...TypeError: Cannot read properties of undefined (reading 'NormalModule')
    at VueLoaderPlugin.apply (/Users/xx/Prodkt/MOYO-Design-System/core/moyo-design-system/node_modules/vue-loader-v16/dist/pluginWebpack5.js:44:47)
    at webpack (/Users/xx/Prodkt/MOYO-Design-System/core/moyo-design-system/node_modules/@vue/cli-service/node_modules/w

[2022-04-03 14:41] JonathanWilbur commented on #222
This works now @ZachJW34 . Thank you so much for fixing this!

[2022-04-05 19:39] ZachJW34 commented on #231
Can you create a reproduction? Looks like it resolving Webpack 5 which vue-cli@4 doesn't support

[2022-04-11 07:40] driedfishlin opened #232 "The 'fs/promises' module is not exposed by Node 12."
## Current Behavior

I use the following command to serve my application.

`nx run my-app:serve`

but the error occurred:

That's because node 12 doesn't expose "fs/promises". Perhaps the following statement can be used in place of the original to solve the problem:

`const promises_1 = require("fs/promises");` => `const promises_1 = require("fs").promises;`

the above change also work fine in Nod

[2022-04-12 18:56] westhechiang commented on #160
Nice work on the migration to NX 13, I'd like to take a crack at adding the `pwa` option.

[2022-04-12 19:40] westhechiang opened #233 "configure-webpack doesn't seem to be running for Vue apps"
## Current Behavior
I modified configure-webpack but didn't notice a change in my newly created vue applications within my nx monorepo. To further test, I modified `configure-webpack.js` to:

[code]
and ran `yarn nx serve my-app` and no error was thrown.

## Expected Behavior
I expected the error to be thrown.

## Steps to Reproduce
1. Generate new nx-plus vue app in an nx monorepo, using NX 13
2.

[2022-04-12 19:43] westhechiang commented on #233
I stumbled across then when I was trying to get [vuetify 3](https://next.vuetifyjs.com/en/getting-started/installation/) running in a new nx-plus/vue app.

It seems like everything works except the SASS / SCSS styles aren't rendering:

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/7388796/163041169-87734f20-ceb9-4243-820d-5694ffc129f8.png">

[2022-04-13 07:58] hloehrmann commented on #228
+1, would be nice because vue-cli depends on some older versions of autoprefixer which in the end depends on postcss 7 and I need postcss 8 to upgrade from Tailwind 2 to 3.

[2022-04-15 16:23] sang-tesouro commented on #160
I'd like to +1 the `vue.config.js` functionality. I'm currently trying to run a custom loader that runs prior to the `vue-loader`. I cannot seem to find an easy way to achieve this via Webpack configuration, whereas it's a few simple lines in `vue.config.js`.

`// ./vue.config.js
module.exports = {
  chainWebpack: config => {
    config.module
      .rules
      .get('vue')
      .use('components'

[2022-04-15 18:17] westhechiang commented on #160
Yeah, I've spent a ton of hours trying to get `vuetify3` working with nx-plus/vue (https://github.com/ZachJW34/nx-plus/issues/233), but have not been successful, _yet_ 😄.

[2022-04-19 14:15] mwidmann opened #234 "Update documentation on how to update to a new version of NX-Plus"
## Description
Now that nx-plus/vue and nx-plus/nuxt are updated to be compatible with nx 13, I was wondering what the correct upgrade path was for an existing v12 project.

We have a workspace where we use both nx-plus/vue and nx-plus/nuxt.

Just running `nx migrate @nx-plus/vue` or `nx migrate @nx-plus/nuxt` doesn't do the job as it just upgrades either of the package to its v13 version.

As nx

[2022-04-23 09:49] mklueh opened #235 "Failed to patch Nx dep-graph for Vue support."
After a while I've tried it again with this package and the new version.

I'm running into a new issue right when I try to create an app:

[code]

**I've tried it with nx version 13.10.3, is that a problem and only 13.0.0 supported?**

[2022-04-23 09:51] mklueh opened #236 "Nuxt 3 support"
Now that Nuxt 3 is officially out of beta, is there any plan to support it with nx-plus?

[2022-04-23 11:56] gregveres commented on #230
@ZachJW34  I am new to nx and trying to understand it. If I wanted to use pinia in my app, I could without nx-plus supporting it right? This issue is just talking about having an nx-plus command to add pinia for us right? But i could do it the normal way in each app otherwise?

[2022-04-23 16:41] ZachJW34 commented on #230
Yes you should be able to install it normally and follow the docs for getting it setup.

[2022-04-23 17:14] gregveres opened #237 "where do we setup @lib aliases?"
Hi,

I have a large Vue 2 app that I will be trying to break up using Nx with Nx-plus/vue. I am new to Nx but I have been reading about it at their site.

I decided to create a small test project first to make sure I understand how get things setup for sharing. My ultimate goal is to have three apps sharing a bunch of code that I will put in libraries. Some libraries will be straight TS code and s

[2022-04-24 16:50] ichursin commented on #235
looks like, nx currently provide the solution to create graph plugins: https://nx.dev/extending-nx/project-graph-plugins

@nxplus should support it

[2022-04-25 23:31] gregveres commented on #237
Ok, I see that they get setup in the tsconfig.base.json in the workspace directory. I don't know how webpack gets them but it does.

I saw another issue that was talking about jest and how you guys don't use jest so it isn't really setup properly. This is one area that needs to get setup for jest: defining the aliases. It normally gets set up in jest.config.js like this:
[code]

[2022-04-25 23:31] #237 closed

[2022-04-26 11:54] gregveres commented on #160
Where should plugin specific code go?
For instance, my vue.config.js has the following items in it that I don't know where to put:
[code]
It also had devServer which I have successfully moved to project.json.
It also has a publicPath defined like this. I have moved this to project.json too, but  I have yet to tell if this worked properly:

[code]

I also had two sections for webpack, which I assum

[2022-04-26 11:57] gregveres commented on #160
Oops, I just noticed that there is explicit support for the transpileDependencies already.

[2022-04-26 13:59] gregveres opened #238 "Port for devServer isn't getting set from project.json"
## Current Behavior
If I set the port in the project.json file, the port is being ignored.
I created a fresh workspace and added a single Vue 2 app. By default this loaded the devServer on port 8080.
I changed this in project.json like this:

[code]
but when I run `nx serve admin`, the port used is 8080, not 8088.
I also noticed that the NX console shows 8080 in the port field when selecting this

[2022-04-26 14:03] #238 closed

[2022-04-26 14:46] gregveres commented on #235
Just something to keep in mind, I can't tell from your path, but I have run into this a couple of times when using version 13 of nx. I run into it when I forget to go back up to the workspace directory to run yarn install.
I was down in the app directory and ran yarn install and I recieved the exact same failure message. I went back to the workspace directory and ran yarn install again and everyth

[2022-04-26 16:29] gregveres commented on #160
I think I figured out how to get the rest of the vue.config.js configuration to work.
You can add a "vue" section to your package.json and that seems to be equivalent to putting stuff in the vue.config.js.
For instance, I was not able to build once I installed vue-cli-plugin-i18n becuase I kept getting
```Cannot read properties of undefined (reading 'i18n')```
when trying to build.
Once I moved th

[2022-04-27 08:12] chf007 opened #239 "Nx and Vite handling conflict of .env files"
the ideal priority

/apps/[app]/.env.[mode].local
/apps/[app]/.env.[mode]
/apps/[app]/.env.local
/apps/[app]/.env
/.env.[mode].local
/.env.[mode]
/.env.local
/.env

but if there is an environment variable in both above file, the one in [mode] will not take effect

the reason is that Nx will [first process](https://nx.dev/guides/environment-variables) `/apps/[app]/.env.local` `/apps/[app]/.env` `/.

[2022-04-27 19:01] gregveres commented on #233
I think I just ran into this too. I am trying to convert my vue 2 app over to nx. I need to run the webpack-assets-manifest plugin and the vuetify-loader plugin. I have defined my configure-webpack.js file in my app directory like this:

[code]
I know the WebpackAsseetsManifest plugin isn't getting installed because there is no file being output from it. It looks like this mechanism is broken. I d

[2022-04-27 19:02] gregveres commented on #233
@BuckyMaler can you tell us if we are defining our configure-webpack.js files correctly or is this a bug?

[2022-04-27 19:33] gregveres commented on #233
I see the vue-config.js contents are being constructured and then passed to vue cli. Interesting. I don't understand why this isn't working because I see the test if webpack-config.js exists and if it does, that it gets assigned the configureWebpack in the options file. I have tried both this active function approach and the simplier set module.exports to an object. Neither of them setup the plugi

[2022-04-27 19:47] gregveres commented on #233
@BuckyMaler, @ZachJW34
The issue here is that the require(configureWebpackPath) in [utils.ts](https://github.com/ZachJW34/nx-plus/blob/9d7a7cb7a30d5f0080a757b018a20cd12c4d2400/libs/vue/src/utils.ts#L68) isn't awaited. It can either be awaited there or it can be awaited [here](https://github.com/ZachJW34/nx-plus/blob/9d7a7cb7a30d5f0080a757b018a20cd12c4d2400/libs/vue/src/executors/browser/executor.t

[2022-04-27 23:24] gregveres commented on #233
@BuckyMaler, @ZachJW34
I have created a PR with a fix for this issue. I have tested the fixed code on my own repo and I am now able to load the webpack plugins that I need to use for my app.

I would really appreciate it if you could merge this PR and get a new version released quickly so I can move forward with moving my app into an NX workspace.

Thank you for your time!

[2022-04-27 23:59] #233 closed

[2022-04-28 00:10] ZachJW34 commented on #233
@gregveres I've published [v13.0.1](https://www.npmjs.com/package/@nx-plus/vue) with your fix, try it out and let me know how it works!

[2022-04-28 00:41] gregveres commented on #233
@ZachJW34 I am on it. Thank you for turning that around so quickly!

[2022-04-28 00:45] gregveres commented on #233
@ZachJW34 it works great. I think we can consider this issue resolved.
And now that I see how things work, I might take a crack at adding plugInOptions or pwa options.

[2022-04-28 01:14] ZachJW34 commented on #233
I was thinking about returning to the vue.config support. I might create a separate builder for it, seems like it might solve a lot of problems people are having with vue configuration options

[2022-04-28 01:21] gregveres commented on #233
Having just gone through it, I think the biggest problem is lack of documentation. I was thinking of writing up the steps I just went through to get my single app repo Vue 2 app into Nx using Nx-plus/vue. I really had to do a lot of digging in the open and closed issues and PRs to figure out how to do it.

But now that it is (mostly) done, I am ok with where I had to put all of the different bits

[2022-04-28 13:30] chf007 commented on #239
https://github.com/chf007/vite-plugin-nx-dotenv

I wrote a plugin for Vite to temporarily solve this problem.

[2022-04-28 13:39] gregveres opened #241 "Support for Nx v14?"
## Description
Are there plans to support Nx v14?
I just found out that jest doesn't work under Nx v13 but if I use Nx v14 instead, then running jest works just fine.

## Motivation
I am trying to migrate my Vue 2 application into Nx. I have over 6000 jest based unit tests and now that I have the app building in Nx, I turned my attention to the unit tests only to find that Nx crashes when I try to

[2022-04-28 19:44] ZachJW34 commented on #239
Cool fix @chf007! If you want, you can open a PR and add a snippet in the `@nx-plus/vite` README about this package

[2022-05-02 13:26] gregveres opened #244 "Generated Vue 2 TS library doesn't build without babel.config.js"
## Current Behavior
When I create an Nx-plus/vue library using Vue 2 (I don't know about vue 3), it creates a library that doesn't build. At least it doesn't build in my setup, and given the solution, I would expect this is common for everyone.

The library doesn't get a babel.config.js file. So what happens is that babel strips out all the typescript code and then the TS loader complains about th

[2022-05-02 13:40] gregveres commented on #244
I also just realized that when generating the library with jest, this library also needs babel config specified in the ```jest.config.js``` file

[code]

[2022-05-03 22:56] marimendez88 opened #245 "nx test: Jest unit tests are failing to run in any test that has been imported from other libraries"
## Current Behavior
An NX - Ionic and Vue workspace fails to run tests, many solutions tested and any seems to fix the issue:

This is the error message:
[code]

## Solutions tested:

- Changing globals ts-jest and vue-jest file url to add <rootDir>
- Using global setup
- Adding more transform regExp
- Modifying jest.preset.js
- NX Migration to the latest
- Installing jest via Yarn
- using Officia

[2022-05-04 13:14] konrad-synergy commented on #231
downgrading to webpack 4 solves it, although I don't know if that wont bite me later on...

[2022-05-06 14:26] chf007 commented on #239
There are still some problems with the plugin: because the priority of the plugin cannot be higher than the Vite built-in [define plugin](https://github.com/vitejs/vite/blob/main/packages/vite/src/node/plugins/define.ts), the ideal priority cannot be achieved in the `build` mode.

At present, it may only be solved by giving pr to Vite.

[2022-05-07 01:56] ZachJW34 commented on #244
Generating a library with babel is part of the generator. For example, running :
[code]

will generate a publishable library with the babel modifications you commented above.

Going to close this issue, but if you encounter an issue we can reopen.

[2022-05-07 01:56] #244 closed

[2022-05-07 03:39] ZachJW34 commented on #235
It looks like the file we patch was moved in v13.10.0. There is an open PR fixing this
https://github.com/ZachJW34/nx-plus/pull/246

[2022-05-07 03:41] ZachJW34 commented on #235
It would be nice to move to the official support, but the patch necessary is so simple vs what is required to implement a custom project-graph that I don't imagine I'll be implementing that anytime soon.

[2022-05-09 18:26] gregveres commented on #245
Looking at your nx report, how did you get setup with 13.10.3? I found that 13.10 failes to apply the patch for .vue files. Maybe that is the issue for you.

Try moving Nx to 13.9.7, which is the last version of 13.9 that works with Nx-Plus/vue.

[2022-05-09 20:15] Tobjoern opened #247 "How to set .env variables?"
When building my nuxt app I need to specify additional environment variables, which determine the manner in which the app is built, namely the custom variable 'IS_BUILD_AS_RENDERER'.
When I didn't use nx, I'd just execute "cross-env NODE_ENV=development IS_BUILD_AS_RENDERER=false nuxt-ts".

Is there a way to set this variable using this plugin?

Thanks for your help.

[2022-05-11 10:18] chf007 commented on #239
This problem has been solved in vite-plugin-nx-dotenv version 1.0.1, regardless of `serve` mode or `build` mode, we can correctly get the desired environment variable value.

[2022-05-16 19:58] gregveres opened #250 "Is there a way to not build the commonJS version of a buildable library?"
## Description
I am converting a monolithic Vue app over to Nx. It will end breaking the app into 4 apps with hundreds of shared libraries. The reason there are so many shared libraries is because, from what I have found out so far, any dynamically loaded component needs to live in its own library. My entire app is dynamically loaded through the router.

What I have noticed is that when doing a bu

[2022-05-16 20:52] ZachJW34 commented on #250
You can specify what formats you want to build, we have a [test](https://github.com/ZachJW34/nx-plus/blob/e3032271570920c56dc75903b1e0d573b560188a/apps/vue-e2e/tests/vue-3.test.ts#L186) for it.

So you should be able to run `nx build my-lib --formats umd-min` to only output the minified version.

[2022-05-16 20:54] gregveres commented on #250
ah thanks. I didn't see that.

[2022-05-16 20:54] #250 closed

[2022-05-16 21:46] Ricardo385 commented on #245
Hey @gregveres! Thanks for your time and help. I did step by step your possible solution but got no success, I got stuck in the same issue. For your issue, it seems that your problem was inside `node_modules`, ours is from the project, I wonder if that's the reason that the `transformIgnorePatterns` that you gave us didn’t work. Also, do you set the `allowJS = true` in the `tsconfig.spec.json` of

[2022-05-16 22:22] gregveres commented on #245
Hi @Ricardo385
Sorry I couldn't help more. I did clone your demo repo to try some things, but i couldn't get it working.

For my case, I am making progress on converting to Nx now. I have 1 app and 43 libraries so far. I expect to end up with 4 apps and over 200 libraries. I am disappointed that I need so many libraries, but from what I have seen, you need a library for every component that you ar

[2022-05-17 00:01] gregveres opened #251 "should .eslintrc.json in a library project include the list of presets?"
## Description
I have been using Nx-plus/vue for a couple of weeks now. Due to wanting so much of my app to dynamic load via the router, I now have ~50 library projects and I expect it to grow considerably.
I am finding that every time I create a new library project, I have to edit the .eslintrc.json file to modify the first line:
[code]

I remove the presets so that it reads:
[code]

The reason I

[2022-05-18 01:29] ZachJW34 commented on #251
This is a fairly common convention for Nx. Since it can support multiple frameworks at the same time, the root eslintrc.json should not have framework-specific overrides. You could create a custom generator that invokes `@nx-plus/vue:lib` and deletes those additions, that way you wouldn't have to manually add them.

[2022-05-18 01:29] ZachJW34 commented on #235
Closed via #249

[2022-05-18 01:29] #235 closed

[2022-05-18 01:57] #241 closed

[2022-05-18 02:02] ZachJW34 commented on #241
v14 landed so check it out!

[2022-05-19 05:32] gregveres commented on #250
@ZachJW34 I am trying to figure out the correct command to do a production build.
I don't recall where I found it, but this is the command that I am using:
[code]

for production, I run yarn production. This is now taking 23 minutes after having moved half of the app into libraries. So I started investigating and realized that the production build was building all three versions (commonJs, umd and

[2022-05-19 05:36] gregveres commented on #250
And the when I do this, the vue app project fails because it doesn't recognize --formats as an option.

[2022-05-19 07:39] gregveres commented on #250
OK, here is what I am doing now. I got the build back down to 7 1/2 minutes. I think that is as fast as I am going to get it on my system before moving to vue 3 and vite.

I am using this production script:

[code]

the parallel 4 keeps my 16 core cpu at 100% for most of the run.
I then added ```"formats": "udm"``` to every one of my libraries' project.json file. This cut the build to 1/3 the time

[2022-05-21 17:47] haroonth commented on #118
Is this the same while running `nuxt generate` in nuxt app ?

[2022-05-24 20:08] marimendez88 commented on #228
This would be fantastic,  have a couple of dependencies just waiting for vue-cli@5

[2022-05-25 20:58] konrad-synergy commented on #247
I've got the same issue with vue, I'd expect that during build environment variables that are set in `.env` file are loaded and accessible like it was with the `vue-cli-service` cmd. Am I doing something wrong?

[2022-05-27 10:10] konrad-synergy commented on #247
What I did to set env variables was:
1. I've installed `webpack-dotenv` module
2. In my frontend app, in the app root folder I've added `configure-webpack.js` file
3. I've added this configuration:
[code]
4. I'm building with command
[code]
And it worked. I still struggle with CI build, but that's another matter

[2022-05-28 01:03] marimendez88 commented on #245
Hey, Just wanted to let you know I found a workaround, is working pretty well so far, let's see how it goes in the next weeks when I start creating new tests ;)
I just posted what I did here:

https://www.marimendez88.dev/posts/nx-vue-jest-support
and medium:
https://medium.com/@marimendez88/nx-vue-jest-support-666156038122

[2022-06-02 17:22] codef0rmerz opened #256 "Module Federation support like Angular/React with Nx natively?"
Is there any example/documentation to enable module federation in the generated vue3 application?

[2022-06-04 08:38] codef0rmerz commented on #232
@driedfishlin I think the latest Nx requires Node 14+. Use [NVM](https://github.com/nvm-sh/nvm) to install multiple versions of NodeJS.

[2022-06-10 13:32] driedfishlin commented on #232
sorry, I didn't notice the version requirement for the Node, thanks for your reply.

[2022-06-10 16:37] gregveres opened #257 "Setup for Vuetify 2 in webpack?"
I have been converting my app to a monorepo for the last while, trying to figure out the right way to decompose the app into libraries to support breaking the app into 4 micro front ends.
I thought I was on a good path until I looked at the size of the bundles that are being created. My initial app bundle is about 5x the size of the original app bundle before using Nx. But that is a question for a

[2022-06-13 02:40] ZachJW34 commented on #257
Have you tried modifying the webpack confit via configure-webpack.js? You should be able to push any loaders or plugins you want, including the vuetify ones

[2022-06-14 11:56] RFreij commented on #224
I had to add this to configure-webpack.js to enable runtimeCompiler:

[code]

I don't (yet?) know about the compilerOptions.isCustomElement though..

[2022-06-16 03:59] leggomuhgreggo opened #258 "Current status of dep-graph patcher?"
## Description
We've been running into some latency issues on some peoples machines with the postinstall script, and I was curious about the status of this workaround.

I went to check on the issue referenced in the [docs](https://github.com/ZachJW34/nx-plus/blob/master/libs/vue/README.md?plain=1#L65-L73) and the issue appears to have been closed, with a [note](https://github.com/nrwl/nx/issues/29

[2022-06-16 17:20] gregveres opened #259 "Have you been able to run the bundle analyzer plugin?"
When I configure webpack to use the bundle analyzer plugin, nothing happens. I get can get it to create the json file, but normally after the build, the analyzer plugin starts. But when running under nx-plus/vue, that doesn't happen.

I was wondering if you guys had tried to use it or not.

[2022-06-16 17:29] gregveres commented on #259
I must have done something wrong the first time I tried it.

With this configuration:
[code]

the analyzer window opens after the build is complete.

I also found that you can run the UI on the generated stats file whenver you want by adding this to your package.json scripts section:

[code]

[2022-06-16 17:29] #259 closed, assigned to nobody

[2022-06-16 18:20] gregveres commented on #247
I am using environment variables in my app.
I have broken my large app into 3 different apps and for the dev environment, I use env vars to import the port number for the "other" apps.

Here is how I define the env vars:

In the app project directory, I create two files:
```.env.development``` and ```.env.production```.

In each of these files I define the variables I need:

[code]

Then in my cod

[2022-06-16 22:23] gregveres opened #260 "Production build isn't tree shaking buildable libraries"
## Current Behavior
I have produced a reproduction repo. The repo contains one application and one library. In the library are two components: HelloWorld and GoodByeWorld. HelloWorld is used by app.vue but GoodByeWorld isn't used by anything in the application. As a result, I would have expected GoodByeWorld to be removed from the bundle by webpack's tree shaking.

The current behaviour is that th

[2022-06-16 22:23] gregveres commented on #260
Is there a way to extract the configuration for webpack?

[2022-06-17 09:28] SimonDever commented on #224
Beautiful, that works perfectly to turn it on, thank you. I'll keep plugging away at configuring `compilerOptions` to register the custom elements and prevent the warning. Will make a new issue if required.

[2022-06-17 13:10] gregveres commented on #260
I figured out what is missing.
I had to add "sideEffects": false to all of my library's package.json files.
Once I did that webpack started to work as expected.
[Here is the issue ](https://github.com/nrwl/nx/issues/3069) on the Nx main project site that pointed me in the right direction. Apparently this is a common issue. Webpack 5 is supposed to be better at doing the right thing automatically,

[2022-06-17 13:11] gregveres commented on #260
This can also be changed from a bug to a feature request.

[2022-06-17 15:52] gregveres commented on #260
I think I have found the proper solution as mentioned [here.](https://stackoverflow.com/a/69998625/5500101).

For the libraries that contain vue files, I have changed ```sideEffects: false``` to ```sideEffects: ["*.vue"]```.
This tells webpack that vue files still have side effects and this causes webpack to properly include the .css files that correspond to the vue files.

I believe this new vers

[2022-06-17 17:18] MauriceNino commented on #65
@ZachJW34 are there any plans to implement this, or alternatively write some documentation on how to do it yourself?

[2022-06-17 17:25] ZachJW34 commented on #65
I don't plan on implementing this anytime soon. If you're interested, a community contribution would be great! I can help out along the way

[2022-06-17 17:29] ZachJW34 commented on #260
I've run into a very similar problem with nx + Angular in the past. Just to clarify, are you building the libs and then consuming them in your app or relying on Typescript aliases. From your repro it looks like the former, I'd be curious about tree-shaking when it comes to just relying on the aliases.

I think it makes sense to add the sideEffect to the generated packge.json for buildable libs if

[2022-06-17 17:39] gregveres commented on #260
I am using buildable libs. I suspect that with non buildable line you would write the code to just reach into the lib directory and pull out the file you need. This would be more like not using no and I tree shaking would work automatically.

I will look at a PR.

I see you guys have added a vite plug-in. Are you moving to vue 3 and vite from vue 2 and webpack?

[2022-06-17 18:18] MauriceNino commented on #65
I will look into it when I have time. Problem is mainly the `beforeCli` check in docusaurus. But I bypassed that, by directly calling the `deploy` function without going through the cli.

`deploy.ts` at root:

[code]

And a new script in the docs project:

[code]

It might not be super pretty, but it works.

What do you think of this solution? Should I add it to the project?

[2022-06-20 22:47] #224 closed

[2022-06-21 22:16] power-cut opened #261 "Cannot find module 'nx/src/config/configuration'"
I am trying to generate vue app by running following command.
`nx g @nx-plus/vue:app ui-lib`
But the cli crashes without completing the task.

<img width="564" alt="image" src="https://user-images.githubusercontent.com/11708491/174905132-353de4a1-6fc3-49d0-ba7f-e9212b79d767.png">

[2022-06-22 00:26] ZachJW34 commented on #261
Can you provide the version of nx and @nx-plus you are using?

[2022-06-22 06:51] power-cut commented on #261
@ZachJW34 I am following the documentation in ReadMe.

[2022-06-25 22:01] ZachJW34 commented on #261
@power-cut can you paste your package.json so I can see the deps you have configured?

[2022-06-25 22:03] ZachJW34 commented on #260
@gregveres as long as vue-cli is popular I plan on supporting it. I added the vite plugin cause it was fun to do

[2022-06-29 13:42] sforner405 opened #262 "Add NX 14.3.X Support"
## Description
Currently build is not possible with NX 14.3.6

<img width="369" alt="image" src="https://user-images.githubusercontent.com/29813520/176451275-f1cdbcae-11f2-4254-a77f-ba24caced095.png">

## Motivation
Be able to use latest NX version

[2022-07-01 02:36] ZachJW34 commented on #261
Working on updating NX, should fix this issue: https://github.com/ZachJW34/nx-plus/pull/263

[2022-07-01 02:36] ZachJW34 commented on #262
Working on a PR here: https://github.com/ZachJW34/nx-plus/pull/263

[2022-07-02 16:50] ZachJW34 commented on #262
https://github.com/ZachJW34/nx-plus/releases/tag/v14.1.0 has been published, check it out!

[2022-07-02 16:50] #262 closed

[2022-07-02 16:51] ZachJW34 commented on #261
https://github.com/ZachJW34/nx-plus/releases/tag/v14.1.0 has been released!

[2022-07-04 07:43] cnschwarz commented on #236
Hi @ZachJW34

Is there a preference from your side how the nuxt3 support should be handled in the existing plugin/repo structure?

As of now Nuxt2 is still used widely so I think a separate nuxt3 plugin within the repository wouldn't be a bad idea. As Nuxt2 would still need to be supported for some time.

Is there any plan from your side to start the work on this or can a proposal be provided? 😃

[2022-07-04 14:49] ZachJW34 commented on #256
Is there a recommended example of setting up Module Federation with a vue-cli application? I'm not too familiar with module federation but if you share a repo that exhibits your webpack changes not being respected I can help debug

[2022-07-04 15:18] ZachJW34 commented on #236
I'd want to handle it the same way Nx handles upgrades e.g. once they upgrade to the latest version they drop support for the older version. Users can still use the older version but they'd be stuck on an older version of Nx. As long as there is a good path for migrating to the new version (via migrations), then that's what I'd recommend. I don't have too many downloads of `@nx-plus/nuxt` so even

[2022-07-04 18:11] codef0rmerz commented on #256
Thanks @ZachJW34 for helping. You can check https://github.com/module-federation/module-federation-examples/tree/master/vue3-cli-demo example and try to plug in the MF configurations in `configure-webpack.js` of the generated app via nx-plus.

[2022-07-04 18:16] ZachJW34 commented on #256
I see that the demo is using vue-cli v5, which uses Webpack 5. I plan on getting to the upgrade soon which should help https://github.com/ZachJW34/nx-plus/issues/228

[2022-07-05 08:41] sforner405 commented on #262
Works! Thanks @ZachJW34 !

[2022-07-05 18:23] kikawet opened #265 "high severity vulnerabilities"
## Current Behavior

When installing a fresh @nx-plus/vue dependencie npm audit reveals 7 high severity vulnerabilities (error output in `Steps to Reproduce`)

Further report from npm audit:
<details>
<summary>$ npm audit</summary>

[code]
</details>

## Steps to Reproduce

Run the following command and you should get this output

<details>
<summary>$ npm install @nx-plus/vue --save-dev</summary>

[2022-07-08 13:39] basti1253 commented on #228
Hi,
I've forked your fantastic repository and updated vue-cli to version 5. It looks like there's no more need to overwrite chalk colors at first glance. I've dropped custom cache directories as well. From a first impression it looks good enough, I didn't test it much tbh.
Please let me know if this looks good enough to open a PR discussion.
[show diff](https://github.com/ZachJW34/nx-plus/compare/

[2022-07-10 23:03] ZachJW34 commented on #228
@basti1253 Thanks for looking into this! I looked through your changes and they make sense so go ahead and open a PR. There are a few more deps I think we need to update so we are more in line with vue-cli but we can address those in the PR you open.

I'd like to create a migrations script as well so users get their deps bumped automatically but if you're not familiar with those I can follow that

[2022-07-13 15:49] gregveres opened #266 "How do you get source maps to work?"
I have realized that I no longer have source maps after converting to nx.

My setup is like this:
* apps
    * app1
    * app2
* libs
    * lib1
    * lib 2

I have tried adding 'devtool': 'source-map' to my ```configure-webpack.js``` file in the apps and the libs, but that doesn't do it.
I am getting source maps for the .vue files but not for the TS files.

Here is an example of an app ```configu

[2022-07-14 20:07] cnschwarz commented on #236
Ok @ZachJW34 I can start to work on a PR to make this happen. Probably need a bit of time to get familiar with the plugin setup but somehow I will manage. 😄

I will follow your guide as close as possible. As soon as I have a first draft I open a WIP PR where the progress could be inspected.

As I plan to use Nuxt3 inside a Nx monorepo along other applications it's also something I would love to ge

[2022-07-15 15:40] merlosy opened #267 "Composing generators requires '@angular-devkit/schematics'"
## Current Behavior
Composing `@nx-plus/vue` generators triggers an error when running the generator command

[code]

This seems to be related to the import of `@nrwl/workspace`

## Expected Behavior

It should work out of the box, or document how to make it work

Suggestions:
- option 1: add as peer dependency `@angular-devkit/schematics`?
- option 2: refactor code to avoid importing from `@nrwl/

[2022-07-15 20:06] ZachJW34 commented on #236
@cnschwarz Awesome glad you're working on it! I can help out along the way

[2022-07-15 20:27] danielroe commented on #236
... and very happy to be pinged if I can help too. Discord is best for quick back and forth.

[2022-07-15 22:44] AlexJWayne opened #268 "Cannot start freshly generated vue 2 app due to "Rule can only have one resource source" error"
## Current Behavior

A cryptic error is thrown when trying to serve the app without modification from the generator.

[code]

Produces this output:

[code]

## Expected Behavior

`nx serve my-app` should serve the application

## Steps to Reproduce

I ran the followed commands to create a totally blank nx workspace and create a blank vue app.

[code]

I put the result of that in this github repo:

[2022-07-18 15:39] merlosy commented on #267
For a bit more context, these are related issues from NX repo:
- https://github.com/nrwl/nx/issues/4857
- https://github.com/nrwl/nx/issues/5429

[2022-07-21 13:37] mgray88 commented on #268
Also experiencing this. This makes the project essentially unusable. @ZachJW34 any input?

[2022-07-21 13:42] mgray88 commented on #268
@AlexJWayne Playing around I managed to get it to work. I ran the migrate command (`nx migrate @nx-plus/nuxt`), then the `npm install`. After which `nx serve my-app` worked. Not sure if simply running `npm install` would have worked, or if this is a documentation issue

[2022-07-24 15:56] ZachJW34 commented on #268
@AlexJWayne are you still experiencing this issue? I wasn't able to reproduce this and the reproduction you provided gives me a "Page Not Found". Can you post another reproduction?

@mgray88 Vue 2.7 had some webpack changes, so maybe the npm i bumped it and it resolved itself.

[2022-07-24 16:03] ZachJW34 commented on #267
Do you know if this is still an issue with the latest version of Nx and nx-plus?

[2022-07-25 10:05] Xaz16 commented on #231
I have the same issue, but I have others project in my nx workspace (angular and react apps) and I can't just downgrade webpack to 4. But as I see in vue-cli they have 5th major version with support of 5th webpack. @ZachJW34 is it possible to update dependcies inside this project?
https://github.com/vuejs/vue-cli/releases?page=2

[2022-07-26 10:38] #221 closed

[2022-08-18 18:27] sevspo commented on #268
Same issue, and the steps above did not work 🤨

[2022-08-21 07:57] AlexJWayne commented on #268
@ZachJW34 I apologize that I missed the notifications on this! And I'm sorry the repo was private. I've fixed that now and you should be able to see the repo.

`nx migrate @nx-plus/nuxt` does indeed seem to fix things, which seems weird. So thanks for that @mgray88

Still, I would expect the out of the box virgin repo to work.

[2022-08-22 22:11] AlexJWayne commented on #268
I may have spoke too soon. I was able to get it working with a fresh install, but in an existing monorepo that `nuxt` migration doesn't help.

I'm no webpack expert but that this:

[code]

certainly doesn't look right to me

[2022-08-22 22:56] AlexJWayne commented on #268
I think The culprit seems to be webpack v5. Rolling back to webpack v4.43.0 seems to work, but that breaks other projects.

Is webpack 5 supported?

[2022-09-04 19:39] mrWh1te opened #271 "Error "Cannot read properties of null (reading 'npmScope')" when generating docusaurus app"
## Current Behavior
The Docusaurus Nx plugin errors out when running this command: `nx g @nx-plus/docusaurus:app my-app`

[code]

## Expected Behavior
To build a new Docusaurus app in the `apps` directory, ready to go, with the provided name `my-app`.

## Steps to Reproduce

Reproduces in a fresh Nx workspace environment.

1. `npx create-nx-workspace@^14.0.0`
2. `npm install @nx-plus/docusaurus --

[2022-09-06 10:05] gritsenko-konstantin commented on #268
Ok i have managed it working.

`
rm -rf node_modules package-lock.json
npm i -D webpack@4
npm i
`

this steps required after initial steps for clean setup of vue v2.0 project.
otherwise webpack v5 would be installed by default.

[2022-09-12 10:16] Prendki commented on #268
I have the same issue while i'm installing nuxt plugin. New fresh app
Node: 16.17.0
Npm: 8.15.0
nx: 14.7.4

I just went through README end experienced:
![image](https://user-images.githubusercontent.com/10167724/189629726-8caed450-7248-439c-ba77-c72180b2e5dd.png)
then when i run npm install i get:
![image](https://user-images.githubusercontent.com/10167724/189629885-57f30a55-6740-4003-b030-f2fbbfc

[2022-09-13 16:34] schirrel commented on #112
I've tried the workaround but it adds too much `../` to the path, shoudl be only `../../` but it results as `../../../../`

[2022-09-13 16:40] schirrel commented on #169
I couldnot make this work, i've also wrote on the original issue https://github.com/ZachJW34/nx-plus/issues/112#issuecomment-1245663498

[2022-09-19 23:33] hallowatcher commented on #228
Hey guys, any updates on the PR?

[2022-09-28 09:20] silvan88 commented on #228
+1

[2022-10-10 12:24] amaron09 commented on #268
I also have the same issue. RIght now I can't get anything to work with this plugin.
I've followed the instructions in the [README](https://www.npmjs.com/package/@nx-plus/vue) by starting a new NX workspace and added vue to it.

I've tried both vue 2 and vue 3 but get errors on both. If I run vue 3 I will get error: NX   Cannot read property 'NormalModule' of undefined
If I instead try vue 2 it wi

[2022-10-14 07:20] jotwea commented on #228
@basti1253 would help very much if you can find the time to prepare the PR, so @ZachJW34 can review and work on the migrations.

[2022-10-16 16:21] gregveres opened #272 "When building with nx-plus/vue, lots of command windows pop up. Can this be suppressed?"
## Description
I am using the latest version of nx-plus/vue: 14.1.0, but this has been the case since I started using it.
When doing a production build of my apps, there a lots of command windows pop up.

## Motivation
This causes issues for the continued use of the machine while the build is happening because the command windows steal the focus momentarily and then vanish.

## Suggested Implement

[2022-10-19 08:57] tanyudii opened #273 "Build options "generatePackageJson" in project.json for Create package.json"
## Description
Hi, I have question how to create package.json while build like Next.js. Thank you

[2022-10-25 15:10] montella1507 opened #274 "Support for Paths resolve for SASS files inside .vue component"
Current behavior:
[code]
Folder /app/shared contains shared.sass etc.

Inside component:
[code]

[code]

That tsconfig.json path works correctly for Typescript files. Doesnt work for SASS imports.. tried to solve this via custom configure-webpack.js however it looks resolve / alias is being ignored?

[2022-10-25 15:19] gregveres commented on #237
I do not. I have to import things with '../../' in the path unfortunately.

[2022-10-25 17:16] montella1507 commented on #274
* it works when extension is added (doesnt work without extension)

[2022-11-02 06:43] jamesray commented on #236
Glad this is being worked, hopefully it'll pick back up now that Nuxt 3 is on [RC12](https://github.com/nuxt/framework/releases/tag/v3.0.0-rc.12) 🍾

[2022-11-02 08:32] Shin-Beomchul opened #275 "vue3-jest Issue : nx test myAppName"
## Current Behavior

"TypeError: babelJest.getCacheKey is not a function" issue occurred
when running the jest test immediately after executing "nx g @nx-plus/vue:app auto-trading".
[code]
![image](https://user-images.githubusercontent.com/25116734/199435996-547fc17d-9a02-4f15-b71a-ed2256db5a6b.png)

The cause is **shallowMount**. code
If I annotation out **shallowMount** it works.

[code]
then su

[2022-11-02 09:56] mklueh commented on #236
I'm currently setting up Nuxt 3 apps with NX without the plugin and I'm so far not missing anything and its not a blocker, although it involves some manual configuration of the project.json file and modification of the workspace.json. But I'm not using any e2e tests etc and my setup is pretty simple.

One thing I'm not sure about is how to deal with the .tsconfig that is generated by Nuxt and loca

[2022-11-03 18:17] rexkenley opened #276 "Resolve dependency conflict with @nrwl/workspace@15"
## Current Behavior
Install new @nrwl/workspace@15 results in peer dependency error

## Expected Behavior
Install new @nrwl/workspace@15 with no dependency error

## Steps to Reproduce
npm i @nrwl/workspace@latest

### Failure Logs
Error: npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: @nx-plus/docusaurus@14.1.0
npm ERR! Found: @nrwl/workspace@15.0.7
n

[2022-11-04 09:04] hackmajoris commented on #260
I have the same problem

[2022-11-06 11:04] colinscz commented on #236
@mklueh the thing with the .tsconfig is something I found during my past work on the pull request and I haven't yet mentioned it as a todo - thanks for pointing this out.

@danielroe maybe you can let me know from your side how this would best fit in, maybe there is a way to extract the nuxt tsconfig in some way and put it inside the generated tsconfig for the generated project instead of extendin

[2022-11-09 21:31] schirrel opened #277 "@nx-plus/nuxt:static dont behavior like nuxt generate ignoring dir folder on nuxt.config"
## Current Behavior
I am need to build static SSG with nuxt and the build output must be on exactly `dist/production` but when i use the `yarn nx static` from @nx-plus/nuxt:static  it always generate the "/dist" folder.

I had even add  the below code on my `nuxt.config.js` but it was ignored
[code]

I hade also set ` "buildDir": "dist/production"` on project.json but the nx-plus keeps generating

[2022-11-11 15:37] mklueh commented on #236
@colinscz glad to hear. Is there any recommended way?

I had moved the nuxt tsconfig into the root of the project. But the problem is the paths

[code]

Depending on what module it uses and in what directory hierarchy it sits, extending from it will use the wrong paths. Some packages might be 3 directories deep from root, others only 2.

Maybe the best way would be to pass a top level .tsconfig pa

[2022-11-11 17:38] danielroe commented on #236
Can you explain a bit about how/why Nuxt needs to extend from another tsconfig? What values in that tsconfig are important for the nuxt project?

[2022-11-11 20:35] mklueh commented on #236
@danielroe I have a very limited understanding so far of how things work, and all I'm trying to do for weeks now is setting up a working NX monorepo with Nuxt apps and a shared UI library.

However, here is an official nx example project where you can see that apps and libraries all point to the root tsconfig: https://github.com/nrwl/nx-examples

It's documentation states: "Regardless whether you

[2022-11-13 11:02] javiermanzano commented on #276
+1

[2022-11-17 13:56] schirrel commented on #277
hey @ZachJW34 i've found where it need to be change, what you say? can i open a pr?
or may we need to discuss this?
Basically the static generator keeps using the browser build instead of the generator

[2022-11-22 13:11] schirrel opened #279 "@nx-plus/nuxt - possibility to add port on project.json"
## Description
Possibility to use port on options for `@nx-plus/nuxt:server` or `@nx-plus/nuxt:browser`

## Motivation
On my process i have a need of one script start the project on one port and other script on the other.
Current i have to change on `nuxt.config` before each execution.
Nuxt provide this using `nuxt --port 8787 ` for example, if we have the option `port` on  the  options aside with